﻿@{
    ViewData["Title"] = "Home Page";
}
<div class="col-12 text-center">
 <img src="~/images/bees-bloom-blossom-164470.jpg" class="img-fluid d-inline-flex align-self-center"style="max-height: 100%" alt="Honigbienen">
</div>