﻿@using HiveCare1.Controllers
@model List<Location>
<div class="row" id="LocationCards">
    
    @foreach (var location in Model)
    {
        await Html.RenderPartialAsync("_LocationCard", location);
    }

</div>