﻿@using HiveCare1.Controllers
@using Microsoft.AspNetCore.Identity
@model Apiary

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutExtensionLoggedin.cshtml";
}
@inject LocationsController LocationsController
@inject ApplicationUserManager UserManager
<h2>Imkerei erstellen</h2>
<hr/>
<div class="row">
    <div class="col offset-md-2 col-md-8  p-4 shadow flex-grow-1">
        <form id="ApiariesCreate" asp-action="Create" asp-controller="Apiaries">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                    <label>Administratoren:</label>
                    @{await Html.RenderPartialAsync("_AdministratorsSelect", new List<ApplicationUser>()); }
                    <label>Imker:</label>
                    @{await Html.RenderPartialAsync("_BeekeepersSelect", new List<ApplicationUser>()); }
                
            </div>
            <div class="form-group">
                <span class="font-weight-bold"><input type="checkbox" checked="checked" name="Redirect" value="createlocations" /> Nach dem Erstellen, Standorte hinzufügen</span>
            </div>
            <div class="form-group">
                <input type="submit" value="Erstellen" class="btn btn-primary" />
            </div>
        </form>
        <a asp-action="Index">Zurück zur Liste</a>
    </div>
    <div class="d-none d-md-flex col-md-8">

    </div>
</div>

<div>
    
</div>

@section ScriptsBody
{
    <script type="text/javascript">
        $(document).ready(function() {
            var users = [
                @{
                    if (Model != null)
                    {
                        foreach (var user in Model.Users.Select(x => x.ApplicationUser))
                        {
                            var str = "'" + user.Email + "',";
                            @Html.Raw(str)
                        }
                    }
                }];
            $("#addUser").on("click",
                function(e) {
                    e.preventDefault();
                    var newObj = { name: $("#Users option:selected").text(), value: $("#Users").val() };
                    if (!users.some(el => el.value == newObj.value)) {
                        $("#AdminList").append(`<li>${newObj.name}</li>`);
                        users.push(newObj);
                    }

                    const ids = users.map(function(v) {
                        return v.value;
                    });
                    $("#adminuserlist").val(ids.join(';'));

                });
        });
    </script>
}