﻿@model Apiary

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutExtensionLoggedin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Apiaries</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ApiaryId">Edit</a> |
    <a asp-action="Index">Zurück zur Liste</a>
</div>