﻿@using HiveCare1.Controllers
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@using Microsoft.EntityFrameworkCore.Internal
@using Microsoft.Extensions.Configuration
@model Apiary
@inject LocationsController LocationsController
@inject ApplicationUserManager UserManager
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutExtensionLoggedin.cshtml";
    var users = await UserManager.Users.ToListAsync();
    var currentuser = users.First(x => x.UserName == User.Identity.Name);
}

<h2>Imkerei bearbeiten</h2>
<hr />
<div class="row">
    <div class="col-12">

        <div class="container-fluid ">
            <div class="row">
                <div class="col offset-md-2 col-md-8  p-4 shadow flex-grow-1">
                    <form asp-action="Edit" id="ApiariesEdit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="ApiaryId" />
                        <input type="hidden" asp-for="CreatorId" />
                        <input type="hidden" asp-for="CreationDate" />
                        <input type="hidden" asp-for="ApiaryId" />
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name)
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <label>Administratoren:</label>
                                @{
                                    await Html.RenderPartialAsync("_AdministratorsSelect", Model.Admins);
                                }
                                <hr />
                                <label>Imker:</label>
                                @{
                                    await Html.RenderPartialAsync("_BeekeepersSelect", Model.Beekeepers);
                                }
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Speichern" class="btn btn-primary shadow" />
                        </div>
                    </form>
                </div>
                <div class="col col-md-8 offset-md-2 border-light p-4">
                    <h5>Standorte</h5>
                    @{
                        @Html.ActionLink("Neuen Standort erstellen", "Create", "Locations", new { apiaryid = Model.ApiaryId });
                    }


                    @{
                        await Html.RenderPartialAsync("_LocationsList", Model.Locations.ToList());
                    }
                </div>
                @if (Model.Locations.Count > 0)
                {
                    <div class="col col-md-8 offset-md-2 border-light p-4 mt-2">
                        <h5>Bienenvölker</h5>
                        @{
                            @Html.ActionLink("Neues Bienenvolk erstellen", "Create", "Hives", new {locationid = Model.Locations.First().LocationId, apiaryid = Model.ApiaryId})
                            ;
                        }

                        @{
                            await Html.RenderPartialAsync("_HivesList", Model.Locations.SelectMany(x => x.Hives).ToList());
                        }
                    </div>
                }

            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Zurück zur Liste</a>
</div>

@section ScriptsBody
    {
    <script type="text/javascript">
        $(document).ready(function() {
            $("#ApiariesEdit #Administrators").selectpicker('val', [
                    @(Json.Serialize(Model.Users.Select(x => x.ApplicationUser.Email)))
            ]);
            $('#ApiariesEdit #Administrators').selectpicker('refresh');
        });
    </script>
}