﻿@model IEnumerable<Apiary>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutExtensionLoggedin.cshtml";
}

<h2>Imkereien</h2>

<p>
    <a asp-action="Create">Neue Imkerei erstellen</a>
</p>
<div class="row">
    @foreach (var apiary in Model)
    {
        await Html.RenderPartialAsync("_ApiaryCard", apiary);
    }
</div>
