﻿@using HiveCare1.Models.Partials
@model HiveCare1.Models.Hive
@inject ApplicationUserManager _userManager;
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutExtensionLoggedin.cshtml";
}

<h2>Bienenvolk erstellen</h2>
<hr />
<div class="row">
    <div class="col offset-md-2 col-md-8  p-4 shadow flex-grow-1">

        @{
            await Html.RenderPartialAsync("_CreateHive", new Hive()
            {
                Creator = await _userManager.FindByNameAsync(User.Identity.Name),
                CreatorId = _userManager.GetUserId(User),
                Admins = { await _userManager.GetUserAsync(User) },
                Location = null
            });
        }
        <div>
            <a asp-action="Index">Zurück zur Liste</a>
        </div>
    </div>
</div>

