﻿@model HiveCare1.Models.Hive

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutExtensionLoggedin.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Hive</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gentleness)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gentleness)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Loyalty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Loyalty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Inertia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Inertia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aggressiveness)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aggressiveness)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="HiveId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Zurück zur Liste</a>
    </form>
</div>
