﻿@model Hive

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutExtensionLoggedin.cshtml";
}

<h1>Edit</h1>

<h4>Hive</h4>
<hr/>

<form asp-action="Edit">

    <div class="row">
        <div class="col-md-8 offset-md-2 shadow">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="HiveId"/>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Type" class="control-label">Art</label>
                <select asp-for="Type" asp-items="Html.GetEnumSelectList<HiveTypeEnum>()" class="form-control"></select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gentleness" class="control-label"></label><span class="d-inline-flex align-top float-right fieldval"> @Model.Gentleness</span>
                <input asp-for="Gentleness" type="range" min="0" max="5" class="form-control custom-range"/>
                <span asp-validation-for="Gentleness" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Loyalty" class="control-label"></label><span class="d-inline-flex align-top float-right fieldval"> @Model.Loyalty</span>
                <input asp-for="Loyalty" type="range" min="0" max="5" class="form-control custom-range"/>
                <span asp-validation-for="Loyalty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inertia" class="control-label"></label><span class="d-inline-flex align-top float-right fieldval"> @Model.Inertia</span>
                <input asp-for="Inertia" type="range" min="0" max="5" class="form-control custom-range"/>
                <span asp-validation-for="Inertia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aggressiveness" class="control-label"></label><span class="d-inline-flex align-top float-right fieldval"> @Model.Aggressiveness</span>
                <input asp-for="Aggressiveness" type="range" min="0" max="5" class="form-control custom-range"/>
                <span asp-validation-for="Aggressiveness" class="text-danger"></span>
            </div>
            @{ await Html.RenderPartialAsync("_QueenCard", Model.Queen ?? new Queen {HiveId = Model.HiveId}); }
            <div class="form-group">
                <label>Administratoren:</label>
                @{
                    await Html.RenderPartialAsync("_AdministratorsSelect", Model.Admins);
                }
                <hr/>
                <label>Imker:</label>
                @{
                    await Html.RenderPartialAsync("_BeekeepersSelect", Model.Beekeepers);
                }
            </div>
            <div class="form-group mt-4">
                <input type="submit" value="Save" class="btn btn-primary shadow"/>
            </div>
        </div>
    </div>
</form>


<div>
    <a asp-action="Index">Zurück zur Liste</a>
</div>