﻿@using HiveCare1.Controllers
@model IEnumerable<HiveCare1.Models.Hive>
@inject ApiariesController ApiariesController
@inject LocationsController LocationsController
@inject HivesController HivesController
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutExtensionLoggedin.cshtml";
    List<Apiary> apiaries = (await ApiariesController.ListApiariesAsync()).ToList();
    List<Location> locations = (await LocationsController.ListLocationsAsync()).ToList();
    List<Hive> hives = (await HivesController.ListHivessAsync()).ToList();
}
<h2>Bienenvölker</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="row">
    <div class="col-12">
            <nav class="navbar w-100 navbar-light bg-white justify-content-between">
                <form class="d-md-inline-flex" id="FilterNav">
                    <div class="form-group align-items-baseline d-md-inline-flex my-1">
                        <label for="Apiary">Imkerei:&nbsp;</label>
                        @Html.DropDownList("Apiary", apiaries.Select(x => new SelectListItem(x.Name, x.ApiaryId.ToString(), true)), new { @class = "form-control selectpicker",multiple ="" })
                    </div>
                    <div class="form-group align-items-baseline d-md-inline-flex mx-md-4 my-1">
                        <label for="Locations">Standort:&nbsp;</label>
                        @Html.DropDownList("Location", apiaries.SelectMany(x => x.Locations).Select(x => new SelectListItem(x.Name, x.LocationId.ToString(), true)), new { @class = "form-control selectpicker", multiple = "" })
                    </div>
                    <div class="form-group align-items-baseline d-md-inline-flex my-1">
                        <label for="Hives">Bienenvolk:&nbsp;</label>
                        @Html.DropDownList("Hive", apiaries.SelectMany(x => x.Locations).SelectMany(x => x.Hives).Select(x => new SelectListItem(x.Name, x.HiveId.ToString(), true)), new { @class = "form-control selectpicker", multiple = "" })
                    </div>
                </form>
            </nav>
    </div>
</div>
<div class="row">
    @foreach (var item in Model)
    {
        await Html.RenderPartialAsync("_HiveCard", item);
    }
</div>
@section ScriptsBody
{
    <script type="text/javascript">

        $(document).ready(function() {
            $(".selectpicker").on("changed.bs.select",
                function (e) {
                    var sender = $(e.target);
                    var id = sender.attr("id");
                    
                    $(".hivecard").hide();
                    $(sender).val().forEach(
                        function (val) {
                            console.log(val);
                            $(document).find(`[data-${id.toLowerCase()} = "${val}"]`).show();
                        });
                });
        })
    </script>
}
