﻿@model HiveCare1.Models.Location
@inject ApiariesController ApiariesController
@inject ApplicationUserManager UserManager
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutExtensionLoggedin.cshtml";
    var apiaries = await ApiariesController.ListApiariesAsync();
    var selectlist = apiaries.Select(x => new SelectListItem(x.Name, x.ApiaryId.ToString()));
}

<h2>Standort Erstellen</h2>
<hr />
<div class="row">
    <div class="col offset-md-2 col-md-8  p-4 shadow flex-grow-1">
        <form id="LocationsCreate" class="p-2 p-md-4" asp-action="Create" asp-controller="Locations">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ApiaryId" class="control-label">Imkerei</label>
                @Html.DropDownListFor(location => location.ApiaryId, selectlist, new { @class = "form-control" })
                <span asp-validation-for="ApiaryId" class="text-danger"></span>
            </div>
            <div class="">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Administratoren:</label>
                @{
                    await Html.RenderPartialAsync("_AdministratorsSelect", Model.Admins);
                }
                <hr />
                <label>Imker:</label>
                @{
                    await Html.RenderPartialAsync("_BeekeepersSelect", Model.Beekeepers);
                }
            </div>
            <div class="form-group">
                @{ await Html.RenderPartialAsync("_Address", Model); }
            </div>
            <div class="form-group">
                <input type="submit" value="Standort erstellen" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Zurück zur Liste</a>
</div>
