﻿@model Location

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutExtensionLoggedin.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Location</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="LocationId"/>
        <input type="submit" value="Delete" class="btn btn-default"/> |
        <a asp-action="Index">Zurück zur Liste</a>
    </form>
</div>