﻿@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@model Location

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutExtensionLoggedin.cshtml";
}
@inject ApiariesController ApiariesController
@inject ApplicationUserManager UserManager
@{
    var apiaries = await ApiariesController.ListApiariesAsync();
    var selectlist = apiaries.Select(x => new SelectListItem(x.Name, x.ApiaryId.ToString(),x.ApiaryId == Model.Apiary.ApiaryId));
}
<h2>Standort bearbeiten</h2>
<hr />
<div class="row">
    <div class="col offset-md-2 col-md-8  p-4 shadow flex-grow-1">
        <form id="LocationForm" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="LocationId" type="hidden" />
            <input asp-for="CreatorId" type="hidden" />
            
            <div class="form-group">
                <label asp-for="ApiaryId" class="control-label">Imkerei</label>
                @Html.TextBoxFor(x => x.Apiary.Name,new {disabled = "disabled",@class="form-control"})
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Adress</label>
                @{
                    await Html.RenderPartialAsync("_Address", Model);
                }


            </div>
            <div class="form-group">
                <div class="row">
                    @{
                        ViewData["size"] = "col-12";
                        ViewData["bodyhidden"] = "d-none";
                    }
                    <label>Administratoren:</label>
                    @{
                        await Html.RenderPartialAsync("_AdministratorsSelect", Model.Admins);
                    }
                    <hr />
                    <label>Imker:</label>
                    @{
                        await Html.RenderPartialAsync("_BeekeepersSelect", Model.Beekeepers);
                    }
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Speichern" class="btn btn-default" />
            </div>
        </form>
    </div>

    <div class="col col-md-8 offset-md-2 p-4">
        <h5>
            Bienenvölker
        </h5>
        
        @{
            @Html.ActionLink("Neues Bienenvolk erstellen","Create","Hives",new {locationid = Model.LocationId})
            await Html.RenderPartialAsync("_HivesList", Model.Hives.ToList());
        }
    </div>

</div>

<div>
    <a asp-action="Index">Zurück zur Liste</a>
</div>

@section ScriptsBody
    {
    <script type="text/javascript">
        $(document).ready(function () {
            //hivecare.showMap("forceMap", { action: "edit", type: "locations" });
        })
    </script>
}
