﻿@model IEnumerable<Location>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutExtensionLoggedin.cshtml";
}

<h2>Index</h2>


<p>
    <a asp-action="Create">Neuen Standort erstellen</a>
</p>
<div class="row">
    @foreach (var apiary in Model)
    {
        await Html.RenderPartialAsync("_LocationCard", apiary);
    }
</div>
