﻿@using HiveCare1.Controllers
@inject ApiariesController ApiariesController
@inject LocationsController LocationsController
@inject HivesController HivesController
@inject ApplicationUserManager UserManager
@{
    Layout = "_Layout";
    var apiaries = (await ApiariesController.ListApiariesAsync()).ToList();
    var locations = (await LocationsController.ListLocationsAsync()).ToList();
    var hives = (await HivesController.ListHivessAsync()).ToList();

    var hive = hives[0];
    var hasparameters = ViewData["ApiaryId"] != null && ViewData["LocationId"] != null && ViewData["HiveId"] != null;
    var isfirstslide = ViewData["slideactive"] != "";
    if (hasparameters)
    {
        locations = apiaries.Where(api => api.ApiaryId == (int)ViewData["ApiaryId"]).SelectMany(api => api.Locations).ToList();
        hives = locations.SelectMany(loc => loc.Hives).ToList();
        hive = hives.FirstOrDefault(x => x.HiveId == (int)ViewData["HiveId"]);
    }
}
<div class="col-12 col-md-10 offset-1">
    <nav class="navbar w-100 navbar-light bg-white justify-content-between">
        <form class="d-md-inline-flex">
            @if (hasparameters)
            {
                <div class="form-group align-items-baseline d-md-inline-flex my-1">
                    <label for="Apiary">Imkerei:&nbsp;</label>
                    @Html.DropDownList("Apiary", apiaries.Select(x => new SelectListItem(x.Name, x.ApiaryId.ToString(), x.ApiaryId == (int)ViewData["ApiaryId"])), new { @class = "form-control" })
                </div>

                <div class="form-group align-items-baseline d-md-inline-flex mx-md-4 my-1">
                    <label for="Locations">Standort:&nbsp;</label>

                    @Html.DropDownList("Locations", apiaries.SelectMany(x => x.Locations).Select(x => new SelectListItem(x.Name, x.LocationId.ToString(), x.LocationId == (int)ViewData["LocationId"])), new { @class = "form-control" })
                </div>
                <div class="form-group align-items-baseline d-md-inline-flex my-1">
                    <label for="Hives">Bienenvolk:&nbsp;</label>

                    @Html.DropDownList("Hives", apiaries.SelectMany(x => x.Locations).SelectMany(x => x.Hives).Select(x => new SelectListItem(x.Name, x.HiveId.ToString(), x.HiveId == (int)ViewData["HiveId"])), new { @class = "form-control" })
                </div>
            }
            else
            {
                <div class="form-group align-items-baseline d-md-inline-flex my-1">
                    <label for="Apiary">Imkerei:&nbsp;</label>
                    @Html.DropDownList("Apiary", apiaries.Select(x => new SelectListItem(x.Name, x.ApiaryId.ToString(), x == apiaries.First())), new { @class = "form-control" })
                </div>

                <div class="form-group align-items-baseline d-md-inline-flex mx-md-4 my-1">
                    <label for="Locations">Standort:&nbsp;</label>
                    @Html.DropDownList("Locations", apiaries.SelectMany(x => x.Locations).Select(x => new SelectListItem(x.Name, x.LocationId.ToString(), x == locations.First())), new { @class = "form-control" })
                </div>
                <div class="form-group align-items-baseline d-md-inline-flex my-1">
                    <label for="Hives">Bienenvolk:&nbsp;</label>
                    @Html.DropDownList("Hives", apiaries.SelectMany(x => x.Locations).SelectMany(x => x.Hives).Select(x => new SelectListItem(x.Name, x.HiveId.ToString(), x == hive)), new { @class = "form-control" })
                </div>
            }


        </form>
    </nav>
    <h2>Bienenvolk: @hive.Name</h2>
</div>

<div class="col-12">

    <div id="BeekeepingCarouselIndicators" class="carousel slide" data-interval="false" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#BeekeepingCarouselIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#BeekeepingCarouselIndicators" data-slide-to="1"></li>
            <li data-target="#BeekeepingCarouselIndicators" data-slide-to="2"></li>
        </ol>
        <a class="carousel-control-prev position-fixed col-1 border-info" style="z-index: 1000" href="#BeekeepingCarouselIndicators" role="button" data-slide="prev">
            <svg xmlns="http://www.w3.org/2000/svg" style="transform: rotateY(180deg)" width="42px" viewBox="0 0 128 128">
                <path d="M61.171 42.829L78.343 60H32v8h46.343L61.171 85.171l5.658 5.658L93.657 64 66.829 37.171z" />
                <path d="M64 8C33.076 8 8 33.074 8 64s25.076 56 56 56c30.926 0 56-25.074 56-56S94.926 8 64 8zm0 108c-28.673 0-52-23.327-52-52s23.327-52 52-52 52 23.327 52 52-23.327 52-52 52z" />
            </svg>
            <span class="sr-only">Previous</span>
        </a>
        <div class="carousel-inner">
            <div class="carousel-item @if (ViewData["slideactive"] == "observation" || isfirstslide)
                                      {
                                          @("active")
                                      }">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-10 offset-1 shadow p-md-2">
                            <h3> Beobachtungen </h3>
                            @{ await Html.RenderPartialAsync("_CreateObservation", new Observation
                                {
                                    Creator = await UserManager.GetCurrentUserAsync(),
                                    CreationDate = DateTime.Now
                                }); }
                            <br />
                            @{
                                foreach (var obs in hive.Observations)
                                {
                                    await Html.RenderPartialAsync("_EditObservation", obs);
                                    <hr />
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item @if (ViewData["slideactive"] == "observation")
                                      {
                                          @("active")
                                      }">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-10 offset-1 shadow p-md-2">
                            <h3> Arbeitsvorgänge </h3>
                            @{ await Html.RenderPartialAsync("_CreateProcess", new Process
                                {
                                    Creator = await UserManager.GetCurrentUserAsync(),
                                    CreationDate = DateTime.Now
                                }); }
                            <br />
                            @{
                                foreach (var proc in hive.Processes)
                                {
                                    await Html.RenderPartialAsync("_EditProcess", proc);
                                    <hr />
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item @if (ViewData["slideactive"] == "process")
                                      {
                                          @("active")
                                      }">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-10 offset-1 shadow p-md-2">
                            <h3> Behandlung </h3>
                            @{ await Html.RenderPartialAsync("_CreateTreatment", new Treatment
                                {
                                    Creator = await UserManager.GetCurrentUserAsync(),
                                    CreationDate = DateTime.Now
                                }); }
                            <br />
                            @{
                                foreach (var treatment in hive.Treatments)
                                {
                                    await Html.RenderPartialAsync("_EditTreatment", treatment);
                                    <hr />
                                }
                            }
                        </div>
                    </div>
                </div>

            </div>
            <div class="carousel-item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-10 offset-1 shadow p-md-2">
                            <h3> Fütterung </h3>
                            @{ await Html.RenderPartialAsync("_CreateFeed", new Feed
                                {
                                    Creator = await UserManager.GetCurrentUserAsync(),
                                    CreationDate = DateTime.Now
                                }); }
                            <br />
                            @{
                                foreach (var feed in hive.Feeds)
                                {
                                    await Html.RenderPartialAsync("_EditFeed", feed);
                                    <hr />
                                }
                            }
                        </div>
                    </div>
                </div>

            </div>
            <div class="carousel-item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-10 offset-1 shadow p-md-2">
                            <h3> Erträge </h3>
                            @{ await Html.RenderPartialAsync("_CreateHiveYield", new HiveYieldAmount
                                {
                                    Creator = await UserManager.GetCurrentUserAsync(),
                                    CreationDate = DateTime.Now
                                }); }
                            <br />
                            @{
                                foreach (var hiveYieldAmount in hive.YieldAmounts)
                                {
                                    await Html.RenderPartialAsync("_EditHiveYield", hiveYieldAmount);
                                    <hr />
                                }
                            }
                        </div>
                    </div>
                </div>

            </div>
            <div id="qrcode"></div>
        </div>

        <a class="carousel-control-next position-fixed col-1" style="z-index: 1000" href="#BeekeepingCarouselIndicators" role="button" data-slide="next">
            <svg xmlns="http://www.w3.org/2000/svg" width="42px" viewBox="0 0 128 128">
                <path d="M61.171 42.829L78.343 60H32v8h46.343L61.171 85.171l5.658 5.658L93.657 64 66.829 37.171z" />
                <path d="M64 8C33.076 8 8 33.074 8 64s25.076 56 56 56c30.926 0 56-25.074 56-56S94.926 8 64 8zm0 108c-28.673 0-52-23.327-52-52s23.327-52 52-52 52 23.327 52 52-23.327 52-52 52z" />
            </svg>
            <span class="sr-only">Next</span>

        </a>
    </div>


</div>

@section Scripts
    {
    <script type="text/javascript">
        var hiveid = 1;
        $(document).ready(function () {

            $("#Hives").on("change", function (e) {
                document.location = `/Beekeeping?apiaryid=${$("#Apiary").val()}&locationid=${$("#Locations").val()}&hiveid=${$("#Hives").val()}`;
            });
            $("#Locations").on("change", function (e) {
                e.preventDefault();
                $.ajax({
                    url: `/Hives/ListHivesForLocationAsync?locatoinid=${$("#Locations").val()}`,
                    type: 'post',
                    data: $(e.currentTarget).serialize(),
                    success: function (data) {
                        $("#Hives").children().remove();
                        for (let nodes in data) {
                            const option = document.createElement('option');
                            option.setAttribute("value", nodes.HiveId);
                            option.innerText = nodes.Name;
                            $("#Hives").append(nodes);
                        }
                        console.log(data);

                    }
                });
            });

            $('.oberservationCreateForm').submit(function (e) {
                e.preventDefault();
                $(e.target).children().find("#HiveId").val($("#Hives").val());
                $.ajax({
                    url: "/api/BeekeepingApi/AddObservation",
                    type: 'post',
                    data: $(e.currentTarget).serialize(),
                    success: function (data) {
                        $('body').prepend("<div class='alert alert-success' role='alert'>Beobachtung erfolgreich erstellt!</div>");
                        setTimeout(function () {
                            $(".alert-success").hide(1000);
                        }, 2000);
                        console.log(data);
                    }
                });
            });
            $('.oberservationEditForm').submit(function (e) {
                e.preventDefault();
                //$(e.target).children().find("#HiveId").val($("#Hives").val());
                $.ajax({
                    url: "/api/BeekeepingApi/EditObservation",
                    type: 'post',
                    data: $(e.currentTarget).serialize(),
                    success: function (data) {
                        $('body').prepend("<div class='alert alert-success' role='alert'>Beobachtung erfolgreich bearbeitet!</div>");
                        setTimeout(function () {
                            $(".alert-success").hide(1000);
                        }, 2000);
                        console.log(data);
                    },
                    error: function (xhr, status) {
                        $('body').prepend(`<div class='alert alert-danger' role='alert'>Fehlermeldung: <br>${status} </div>`);
                        setTimeout(function () {
                            $(".alert-danger").hide(1000);
                        }, 2000);
                    }
                });
            });
            $('.processCreateForm').submit(function (e) {
                e.preventDefault();
                $(e.target).children().find("#HiveId").val($("#Hives").val());
                $.ajax({
                    url: "/api/BeekeepingApi/AddProcess",
                    type: 'POST',
                    data: $(e.currentTarget).serialize(),
                    success: function (data) {
                        $('body').prepend("<div class='alert alert-success' role='alert'>Arbeitsvorgang erfolgreich erstellt!</div>");
                        setTimeout(function () {
                            $(".alert-success").hide(1000);
                        }, 2000);
                        console.log(data);
                    },
                    error: function (xhr, status) {
                        $('body').prepend(`<div class='alert alert-danger' role='alert'>Fehlermeldung: <br>${status} </div>`);
                        setTimeout(function () {
                            $(".alert-danger").hide(1000);
                        }, 2000);
                    }
                });
            });
            $('.processEditForm').submit(function (e) {
                e.preventDefault();
                //$(e.target).children().find("#HiveId").val($("#Hives").val());
                const url = $(e.target).attr("action") + "/" + $(e.target).children().find("#ProcessId").val();
                $.ajax({
                    url: "/api/BeekeepingApi/EditProcess",
                    type: 'post',
                    data: $(e.currentTarget).serialize(),
                    success: function (data) {
                        $('body').prepend("<div class='alert alert-success' role='alert'>Arbeitsvorgang erfolgreich bearbeitet!</div>");
                        setTimeout(function () {
                            $(".alert-success").hide(1000);
                        }, 2000);
                        console.log(data);
                    },
                    error: function (xhr, status) {
                        $('body').prepend(`<div class='alert alert-danger' role='alert'>Fehlermeldung: <br>${status} </div>`);
                        setTimeout(function () {
                            $(".alert-danger").hide(1000);
                        }, 2000);
                    }
                });
            });
            $('.treatmentCreateForm').submit(function (e) {
                e.preventDefault();
                $(e.target).children().find("#HiveId").val($("#Hives").val());
                $.ajax({
                    url: "/api/BeekeepingApi/AddTreatment",
                    type: 'POST',
                    data: $(e.currentTarget).serialize(),
                    success: function (data) {
                        $('body').prepend("<div class='alert alert-success' role='alert'>Beobachtung erfolgreich erstellt!</div>");
                        setTimeout(function () {
                            $(".alert-success").hide(1000);
                        }, 2000);
                        console.log(data);
                    },
                    error: function (xhr, status) {
                        $('body').prepend(`<div class='alert alert-danger' role='alert'>Fehlermeldung: <br>${status} </div>`);
                        setTimeout(function () {
                            $(".alert-danger").hide(1000);
                        }, 2000);
                    }
                });
            });
            $('.treatmentEditForm').submit(function (e) {
                e.preventDefault();
                //$(e.target).children().find("#HiveId").val($("#Hives").val());
                const url = $(e.target).attr("action") + "/" + $(e.target).children().find("#ProcessId").val();
                $.ajax({
                    url: "/api/BeekeepingApi/EditTreatment",
                    type: 'post',
                    data: $(e.currentTarget).serialize(),
                    success: function (data) {
                        $('body').prepend("<div class='alert alert-success' role='alert'>Behandlung erfolgreich bearbeitet!</div>");
                        setTimeout(function () {
                            $(".alert-success").hide(1000);
                        }, 2000);
                        console.log(data);
                    },
                    error: function (xhr, status) {
                        $('body').prepend(`<div class='alert alert-danger' role='alert'>Fehlermeldung: <br>${status} </div>`);
                        setTimeout(function () {
                            $(".alert-danger").hide(1000);
                        }, 2000);
                    }
                });
            });
            $('.feedCreateForm').submit(function (e) {
                e.preventDefault();
                $(e.target).children().find("#HiveId").val($("#Hives").val());
                $.ajax({
                    url: "/api/BeekeepingApi/AddFeed",
                    type: 'POST',
                    data: $(e.currentTarget).serialize(),
                    success: function (data) {
                        $('body').prepend("<div class='alert alert-success' role='alert'>Fütterung erfolgreich erstellt!</div>");
                        setTimeout(function () {
                            $(".alert-success").hide(1000);
                        }, 2000);
                        console.log(data);
                    },
                    error: function (xhr, status) {
                        $('body').prepend(`<div class='alert alert-danger' role='alert'>Fehlermeldung: <br>${status} </div>`);
                        setTimeout(function () {
                            $(".alert-danger").hide(1000);
                        }, 2000);
                    }
                });
            });
            $('.feedEditForm').submit(function (e) {
                e.preventDefault();
                //$(e.target).children().find("#HiveId").val($("#Hives").val());
                const url = $(e.target).attr("action") + "/" + $(e.target).children().find("#ProcessId").val();
                $.ajax({
                    url: "/api/BeekeepingApi/EditFeed",
                    type: 'post',
                    data: $(e.currentTarget).serialize(),
                    success: function (data) {
                        $('body').prepend("<div class='alert alert-success' role='alert'>Fütterung erfolgreich bearbeitet!</div>");
                        setTimeout(function () {
                            $(".alert-success").hide(1000);
                        }, 2000);
                        console.log(data);
                    },
                    error: function (xhr, status) {
                        $('body').prepend(`<div class='alert alert-danger' role='alert'>Fehlermeldung: <br>${status} </div>`);
                        setTimeout(function () {
                            $(".alert-danger").hide(1000);
                        }, 2000);
                    }
                });
            });
            $('.hiveYieldCreateForm').submit(function (e) {
                e.preventDefault();
                $(e.target).children().find("#HiveId").val($("#Hives").val());
                $.ajax({
                    url: "/api/BeekeepingApi/AddHiveYield",
                    type: 'POST',
                    data: $(e.currentTarget).serialize(),
                    success: function (data) {
                        $('body').prepend("<div class='alert alert-success' role='alert'>Ertrag erfolgreich erstellt!</div>");
                        setTimeout(function () {
                            $(".alert-success").hide(1000);
                        }, 2000);
                        console.log(data);
                    },
                    error: function (xhr, status) {
                        $('body').prepend(`<div class='alert alert-danger' role='alert'>Fehlermeldung: <br>${status} </div>`);
                        setTimeout(function () {
                            $(".alert-danger").hide(1000);
                        }, 2000);
                    }
                });
            });
            $('.hiveYieldEditForm').submit(function (e) {
                e.preventDefault();
                //$(e.target).children().find("#HiveId").val($("#Hives").val());
                const url = $(e.target).attr("action") + "/" + $(e.target).children().find("#ProcessId").val();
                $.ajax({
                    url: "",
                    type: 'post',
                    data: $(e.currentTarget).serialize(),
                    success: function (data) {
                        $('body').prepend("<div class='alert alert-success' role='alert'>Ertrag erfolgreich bearbeitet!</div>");
                        setTimeout(function () {
                            $(".alert-success").hide(1000);
                        }, 2000);
                        console.log();
                    },
                    error: function (xhr, status) {
                        $('body').prepend(`<div class='alert alert-danger' role='alert'>Fehlermeldung: <br>${status} </div>`);
                        setTimeout(function () {
                            $(".alert-danger").hide(1000);
                        }, 2000);
                    }
                });
            });
        });
    </script>

}