﻿@page
@using HiveCare1.Controllers
@using HiveCare1.Models
@using Microsoft.EntityFrameworkCore
@model RegisterModel
@inject ApiariesController ApiariesController
@inject LocationsController LocationsController
@inject HivesController HivesController
@inject RoleManager<ApplicationRole> RoleManager
@{
    ViewData["Title"] = "Benuzter- Registration";
    var apiariesListItems = await ApiariesController.GetListAsync();
    var locarionsListItems = await LocationsController.GetListAsync();
    var hivesListItems = await HivesController.GetListAsync();
    
}

<h2>@ViewData["Title"]</h2>

    <div class="col-md-4 ">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Neues Konto erstellen.</h4>
            <hr/>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                @Html.LabelFor(model => model.Input.Apiaries, "Administrator- Rechte für Imkerei")
                @Html.DropDownListFor(model => model.Input.Apiaries, apiariesListItems, new {@class = "form-control selectpicker", multiple = "multiple"});
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Input.Locations, "Administrator- Rechte für Standort")
                @Html.DropDownListFor(model => model.Input.Locations, locarionsListItems, new { @class = "form-control selectpicker", multiple = "multiple" });
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Input.Hives, "Administrator- Rechte für Bienenvolk")
                @Html.DropDownListFor(model => model.Input.Hives, hivesListItems, new { @class = "form-control selectpicker", multiple = "multiple" });
            </div>
            <div class="form-group">
                <label asp-for="Input.Firstname"></label>
                <input asp-for="Input.Firstname" class="form-control"/>
                <span asp-validation-for="Input.Firstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Familyname"></label>
                <input asp-for="Input.Familyname" class="form-control"/>
                <span asp-validation-for="Input.Familyname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-9" style="padding-left: 0; padding-right: 0">
                            <label asp-for="Input.Street"></label>
                            <input asp-for="Input.Street" class="form-control col"/>
                            <span asp-validation-for="Input.Street" class="text-danger"></span>
                        </div>
                        <div class="col-md-3" style="padding-left: 0; padding-right: 0">
                            <label asp-for="Input.HouseNo"></label>
                            <input asp-for="Input.HouseNo" class="form-control col"/>
                            <span asp-validation-for="Input.HouseNo" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8" style="padding-left: 0; padding-right: 10px">
                            <label asp-for="Input.City"></label>
                            <input asp-for="Input.City" class="form-control col"/>
                            <span asp-validation-for="Input.City" class="text-danger"></span>
                        </div>
                        <div class="col-md-3" style="padding-left: 0; padding-right: 0">
                            <label asp-for="Input.Zip"></label>
                            <input asp-for="Input.Zip" class="form-control col"/>
                            <span asp-validation-for="Input.Zip" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Input.Roles"></label>
                @Html.DropDownListFor(model => model.Input.Roles,(await RoleManager.Roles.ToListAsync()).Select(role => new SelectListItem(role.Name, role.Name)), new { @class = "form-control selectpicker", multiple = "multiple" })
                <span asp-validation-for="Input.Roles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control"/>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control"/>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control"/>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Registrieren</button>
        </form>
    </div>


@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
    <script type="text/javascript">
        $('#apiariesBS').on('show.bs.select', function (e, clickedIndex, isSelected, previousValue) {
            // do something...
        });
        $('#apiariesBS').on('changed.bs.select', function (e, clickedIndex, isSelected, previousValue) {
            
        });
    </script>
}