﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
}

<h4>@ViewData["Title"]</h4>
@{
    await Html.RenderPartialAsync("_StatusMessage", Model.StatusMessage);
}

    <div class="col-md-6">

        <form id="profile-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" disabled/>
            </div>
            <div class="form-group">
                <label asp-for="Input.Firstname"></label>
                <input asp-for="Input.Firstname" class="form-control"/>
                <span asp-validation-for="Input.Firstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Familyname"></label>
                <input asp-for="Input.Familyname" class="form-control"/>
                <span asp-validation-for="Input.Familyname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-9" style="padding-left: 0; padding-right: 0">
                            <label asp-for="Input.Street"></label>
                            <input asp-for="Input.Street" class="form-control col"/>
                            <span asp-validation-for="Input.Street" class="text-danger"></span>
                        </div>
                        <div class="col-md-3" style="padding-left: 0; padding-right: 0">
                            <label asp-for="Input.HouseNo"></label>
                            <input asp-for="Input.HouseNo" class="form-control col"/>
                            <span asp-validation-for="Input.HouseNo" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8" style="padding-left: 0; padding-right: 10px">
                            <label asp-for="Input.City"></label>
                            <input asp-for="Input.City" class="form-control col"/>
                            <span asp-validation-for="Input.City" class="text-danger"></span>
                        </div>
                        <div class="col-md-3" style="padding-left: 0; padding-right: 0">
                            <label asp-for="Input.Zip"></label>
                            <input asp-for="Input.Zip" class="form-control col"/>
                            <span asp-validation-for="Input.Zip" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                @if (Model.IsEmailConfirmed)
                {
                    <div class="input-group">
                        <input asp-for="Input.Email" class="form-control"/>
                        <span class="input-group-addon" aria-hidden="true">
                            <span class="glyphicon glyphicon-ok text-success"></span>
                        </span>
                    </div>
                }
                else
                {
                    <input asp-for="Input.Email" class="form-control"/>
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Send verification email</button>
                }
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.PhoneNumber"></label>
                <input asp-for="Input.PhoneNumber" class="form-control"/>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Save</button>
        </form>
    </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}