﻿@model HiveCare1.Models.Partials.AddressPartial
<div class="container">
<div class="row">
    <div class="form-group mt-2 col-12">
        <a class="btn btn-light border-info" id="openPicker" data-toggle="tooltip" data-placement="right" title="Location Picker öffnen">
            <svg xmlns="http://www.w3.org/2000/svg" width="24px" viewBox="0 0 32 32">
                <path d="M16 24l-6.09-8.6A8.14 8.14 0 0 1 16 2a8.08 8.08 0 0 1 8 8.13 8.2 8.2 0 0 1-1.8 5.13zm0-20a6.07 6.07 0 0 0-6 6.13 6.19 6.19 0 0 0 1.49 4L16 20.52 20.63 14A6.24 6.24 0 0 0 22 10.13 6.07 6.07 0 0 0 16 4z" />
                <circle cx="16" cy="9" r="2" />
                <path d="M28 12h-2v2h2v14H4V14h2v-2H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h24a2 2 0 0 0 2-2V14a2 2 0 0 0-2-2z" />
            </svg>
        </a>
    </div>
    <div class="form-group col-md-8">
        <label asp-for="@Model.Street" class="control-label"></label>
        <input asp-for="@Model.Street" class="form-control" />
        <span asp-validation-for="@Model.Street" class="text-danger"></span>
    </div>
    <div class="form-group col-md-4">
        <label asp-for="@Model.HouseNo" class="control-label"></label>
        <input asp-for="@Model.HouseNo" class="form-control" />
        <span asp-validation-for="@Model.HouseNo" class="text-danger"></span>
    </div>
    <div class="form-group col-md-4">
        <label asp-for="@Model.Zip" class="control-label"></label>
        <input asp-for="@Model.Zip" class="form-control" />
        <span asp-validation-for="@Model.Zip" class="text-danger"></span>
    </div>
    <div class="form-group col-md-8">
        <label asp-for="@Model.City" class="control-label"></label>
        <input asp-for="@Model.City" class="form-control" />
        <span asp-validation-for="@Model.City" class="text-danger"></span>
    </div>
    <div class="form-group col-md-6">
        <input asp-for="@Model.Latitude" type="hidden" class="form-control" />
    </div>
    <div class="form-group col-md-6">
        <input asp-for="@Model.Longitude" type="hidden" class="form-control" />
    </div>
    
    
</div>
</div>
