﻿@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@using Microsoft.EntityFrameworkCore.Internal
@model List<ApplicationUser>
@inject ApplicationUserManager UserManager
@{
    var users = await UserManager.Users.ToListAsync();
    if (!User.IsInRole("Superuser")) {
        users = users.Where(user => user.Creator.Id == User.Identity.Name).ToList();
    }

    IEnumerable<SelectListItem> selectlist = new List<SelectListItem>();
    if (users.Count > 0)
    {
        selectlist = users.Select(x => new SelectListItem(x.Firstname + " " + x.Familyname, x.Email + ""));
    }
}
@Html.Hidden("RemoveAdmin", "")
@Html.DropDownList("AdminUsers",
    users.Select(x =>
        new SelectListItem
        {
            Selected = Model.Contains(x),
            Text = x.Firstname+" "+x.Familyname,
            Value = x.Email
        }
        ).ToList(), new { @class = "form-control selectpicker", multiple = "multiple"})
