﻿@using System.Globalization
@model ApplicationUser
@inject ApplicationUserManager ApplicationUserManager
@{ var userrole = await ApplicationUserManager.GetRolesAsync(Model); }
<div class="@(ViewData["size"]??"") hccard" data-email="@Model.Email">
    <div class="card my-1">
        <div class="card-header p-0 ">
            <span class="font-weight-bold">

                <div class="dropdown w-100 d-inline-flex">
                    @if (ViewContext.ActionDescriptor.RouteValues["action"].Equals("Edit") || ViewContext.ActionDescriptor.RouteValues["action"].Equals("Create"))
                    {
                        <button class="btn btn-light dropdown-toggle font-weight-bold" type="button" id="dropdownActions@(Model.Email.GetHashCode())" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <svg xmlns="http://www.w3.org/2000/svg" width="34px" viewBox="9 9 20 20">
                                <path d="M16 4a5 5 0 1 1-5 5 5 5 0 0 1 5-5m0-2a7 7 0 1 0 7 7 7 7 0 0 0-7-7zm10 28h-2v-5a5 5 0 0 0-5-5h-6a5 5 0 0 0-5 5v5H6v-5a7 7 0 0 1 7-7h6a7 7 0 0 1 7 7z" />
                            </svg>
                            <span>@((Model.Firstname + " " + Model.Familyname).ToUpper(CultureInfo.CurrentCulture))</span>
                        </button>
                    }
                    else
                    {
                        <button class="btn btn-light font-weight-bold" type="button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="34px" viewBox="9 9 20 20">
                                <path d="M16 4a5 5 0 1 1-5 5 5 5 0 0 1 5-5m0-2a7 7 0 1 0 7 7 7 7 0 0 0-7-7zm10 28h-2v-5a5 5 0 0 0-5-5h-6a5 5 0 0 0-5 5v5H6v-5a7 7 0 0 1 7-7h6a7 7 0 0 1 7 7z" />
                            </svg>
                            <span>@((Model.Firstname + " " + Model.Familyname).ToUpper(CultureInfo.CurrentCulture))</span>
                        </button>
                    }

                    @if (ViewContext.ActionDescriptor.RouteValues["action"].Equals("Edit") || ViewContext.ActionDescriptor.RouteValues["action"].Equals("Create"))
                    {
                        <div class="dropdown-menu" aria-labelledby="dropdownActions@(Model.Email.GetHashCode())">
                            <a onclick="return hivecare.removeAdmin(event)" class="dropdown-item">Entfernen</a>
                        </div>
                    }
                    else
                    {
                        <div class="dropdown-menu" aria-labelledby="dropdownActions@(Model.Email.GetHashCode())">
                        </div>
                    }

                </div>
            </span>
        </div>
    @if (!ViewContext.ActionDescriptor.RouteValues["action"].Equals("Edit") && !ViewContext.ActionDescriptor.RouteValues["action"].Equals("Create"))
    {
        <div class="card-body @(ViewData["bodyhidden"] ?? "")">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <span class="d-inline-block w-100"><label class="font-weight-bold">Benutzername(Email): </label><span class="d-inline-flex align-top float-right">@Model.UserName</span></span>
                    </div>
                    <div class="col-12">
                        <span class="d-inline-block w-100">
                            <label class="font-weight-bold">Adresse: </label>
                            <span class="d-inline-flex align-top float-right">
                                @(Model.Street + " " + Model.HouseNo) <br/>
                                @(Model.Zip + " " + Model.City)
                            </span>
                        </span>
                    </div>
                    <div class="col-12">
                        <span class="d-inline-block w-100">
                            <label class="font-weight-bold">Role:</label>
                            <span class="d-inline-flex align-top float-right">
                                @userrole.FirstOrDefault()
                            </span>
                        </span>
                    </div>
                    <div class="col-12">
                        <span class="d-inline-block w-100">
                            <label class="font-weight-bold">Opeations:</label>
                            <span class="d-inline-flex align-top float-right">
                                <span><a href="@Url.Page("/AdminPage/Edit", new {email = Model.Email})">Edit</a></span>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    }
    </div>
</div>