﻿@using HiveCare1.Controllers
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@using Microsoft.Extensions.Configuration
@model Hive

@inject LocationsController LocationsController
@inject ApplicationUserManager UserManager
@inject IConfiguration Configuration
@{
    var users = UserManager.Users;  
    var selectlist = users?.Select(x => new SelectListItem(x.Firstname + " " + x.Familyname, x.Id + ""));
    Model.Location = Model.Location ?? new Location(); 
}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" type="text" class="form-control" />
                    @if (Model.Location == null && Model.LocationId == 0)
                    {
                        <input asp-for="LocationId" class="form-control" type="hidden" value="@(Model.Location.LocationId != 0 ? Model.Location.LocationId : Model.LocationId)" />
                    }
                    else
                    {
                        @Html.LabelFor(x => x.LocationId, "Standort",new {@class = "control-label"});
                        @Html.DropDownListFor(x => x.LocationId, await LocationsController.GetListAsync(), new { @class = "form-control" });
                    }
                </div>
                <div class="form-group">
                    <label asp-for="Type" class="control-label"></label>
                    <select asp-for="Type" asp-items="Html.GetEnumSelectList<HiveTypeEnum>()" class="form-control"></select>
                    <span asp-validation-for="Type" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Gentleness" class="control-label"></label><span class="d-inline-flex align-top float-right fieldval"> @Model.Gentleness</span>
                    <input asp-for="Gentleness" type="range" min="0" max="5" class="form-control custom-range fieldval" />
                    <span asp-validation-for="Gentleness" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Loyalty" class="control-label"></label><span class="d-inline-flex align-top float-right fieldval"> @Model.Loyalty</span>
                    <input asp-for="Loyalty" type="range" min="0" max="5" class="form-control custom-range fieldval" />
                    <span asp-validation-for="Loyalty" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Inertia" class="control-label"></label><span class="d-inline-flex align-top float-right fieldval"> @Model.Inertia</span>
                    <input asp-for="Inertia" type="range" min="0" max="5" class="form-control custom-range fieldval" />
                    <span asp-validation-for="Inertia" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Aggressiveness" class="control-label"></label><span class="d-inline-flex align-top float-right fieldval"> @Model.Aggressiveness</span>
                    <input asp-for="Aggressiveness" type="range" min="0" max="5" class="form-control custom-range fieldval" />
                    <span asp-validation-for="Aggressiveness" class="text-danger"></span>
                </div>
                @{
                    // await Html.RenderPartialAsync("_QueenCard", Model.Queen ?? new Queen { HiveId = Model.HiveId }); }
                }
                <div class="form-group">
                    <div class="row p-4">
                        @{
                            @Html.Label("AdminsUsers", "Administratoren")
                            await Html.RenderPartialAsync("_AdministratorsSelect", Model.Admins);
                            @Html.Label("AdminsUsers", "Imker")
                            await Html.RenderPartialAsync("_BeekeepersSelect", Model.Beekeepers);
                        }
                    </div>
                </div>
                <div class="form-group mt-4">
                    <input type="submit" value="Erstellen" class="btn btn-primary shadow" />
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function addToTable(data) {
        /*const tablerow = hivecare.getHivesTableRow(data);
        $("#HivesTable tbody").append(tablerow);*/
        window.location = window.location;
    }
</script>