﻿@using HiveCare1.Controllers
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@using Microsoft.Extensions.Configuration
@using Microsoft.Extensions.Logging
@using Microsoft.Extensions.Options
@model Location

@inject LocationsController LocationsController
@inject ApplicationUserManager UserManager
@inject IConfiguration Configuration
@{
    var users = await UserManager.Users.ToListAsync();
    var selectlist = users.Select(x => new SelectListItem(x.Firstname + " " + x.Familyname, x.Id + ""));
}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <form id="LocationsCreate" asp-controller="LocationsApi" asp-action="PostLocation">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="@Model.Name" class="control-label"></label>
                    <input asp-for="@Model.Name" class="form-control" />
                    <span asp-validation-for="@Model.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Imkerei</label>
                    <span type="text" class="form-control">@Model.Apiary.Name</span>
                    <input asp-for="@Model.ApiaryId" class="form-control" type="hidden" value="@Model.Apiary.ApiaryId" />

                </div>
                <div class="form-group">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-address" role="tab" aria-controls="nav-address" aria-selected="true">Adresse</a>
                            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-admin" role="tab" aria-controls="nav-admin" aria-selected="false">Administratoren</a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active p-4" id="nav-address" role="tabpanel" aria-labelledby="nav-address-tab">
                            @{ await Html.RenderPartialAsync("_Address", Model); }
                        </div>
                        <div class="tab-pane fade" id="nav-admin" role="tabpanel" aria-labelledby="nav-admin-tab">
                            <div class="container">
                                <h5>Users</h5>
                                    @{
                                        @Html.Label("AdminsUsers", "Administratoren")
                                        await Html.RenderPartialAsync("_AdministratorsSelect", Model.Admins);
                                        @Html.Label("AdminsUsers", "Imker")
                                        await Html.RenderPartialAsync("_BeekeepersSelect", Model.Beekeepers);
                                    }
                            </div>
                        </div>
                    </div>
                    
                </div>

                <div class="form-group">
                    <input type="button" id="CreateLocation" value="Erstelle Standort" onclick="return hivecare.sendAjaxForm(event, addToLocationTable)" class="btn bg-success" />
                    <a class="btn btn-danger" onclick="return hivecare.clearform(event)" id="createLocation" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Abbrechen
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function addToLocationTable(data) {
        window.location = window.location;
    }
</script>

