﻿@model Process



<div class="card shadow">
    
    <div class="card-header">

        <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#collapseProcess@(Model.ProcessId)" aria-expanded="false" aria-controls="collapseProcess@(Model.ProcessId)">
            <h5>Neuer Arbeitsvorgang am @DateTime.Now</h5>
        </button>
    </div>
    <div class="collapse show" id="collapseProcess@(Model.ProcessId)">
        <div class="card-body">

            <form asp-action="PostProcess" asp-controller="Processes" class="my-1 processCreateForm">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 col-md-5">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="ProcessId" />
                            <input type="hidden" asp-for="HiveId" />
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="BeesEscape" /> @Html.DisplayNameFor(model => model.BeesEscape)
                                </label>
                            </div>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="Diaper" /> @Html.DisplayNameFor(model => model.Diaper)
                                </label>
                            </div>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="Fence" /> @Html.DisplayNameFor(model => model.Fence)
                                </label>
                            </div>
                            <div class="form-group">
                                <label asp-for="FlightholeWedge" class="control-label"></label>
                                @{
                                    var selects = Html.GetEnumSelectList(typeof(FlightholeStatusEnum)).ToList();
                                    selects.ForEach(x => x.Selected = Model.FlightholeWedge.ToString() == x.Value);
                                    @Html.DropDownListFor(x => x.FlightholeWedge, selects, new { @class = "form-control" });
                                    var test = 1;
                                }
                                <span asp-validation-for="FlightholeWedge" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="BrutFrames" class="control-label"></label>
                                <input asp-for="BrutFrames" class="form-control" />
                                <span asp-validation-for="BrutFrames" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DronesFrames" class="control-label"></label>
                                <input asp-for="DronesFrames" class="form-control" />
                                <span asp-validation-for="DronesFrames" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="EmptyFrames" class="control-label"></label>
                                <input asp-for="EmptyFrames" class="form-control" />
                                <span asp-validation-for="EmptyFrames" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="LiningFrames" class="control-label"></label>
                                <input asp-for="LiningFrames" class="form-control" />
                                <span asp-validation-for="LiningFrames" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="HoneyBox" class="control-label"></label>
                                <input asp-for="HoneyBox" class="form-control" />
                                <span asp-validation-for="HoneyBox" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="EmptyBox" class="control-label"></label>
                                <input asp-for="EmptyBox" class="form-control" />
                                <span asp-validation-for="EmptyBox" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Arbeitsvorgang erstellen" class="btn btn-primary" />
                            </div>
                        </div>
                        <div class="col-12 col-md-7">
                            <div class="form-group">
                                <label asp-for="Comment" class="control-label"></label>
                                <textarea asp-for="Comment" class="form-control" rows="15"></textarea>
                                <span asp-validation-for="Comment" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DueDateTime" class="control-label"></label>
                                <input asp-for="DueDateTime" class="form-control" />
                                <span asp-validation-for="DueDateTime" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DoneDateTime" class="control-label"></label>
                                <input asp-for="DoneDateTime" class="form-control" />
                                <span asp-validation-for="DoneDateTime" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DoneById" class="control-label"></label>
                                <select asp-for="DoneById" class="form-control" asp-items="ViewBag.DoneById"></select>
                                <span asp-validation-for="DoneById" class="text-danger"></span>
                            </div>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="IsDone" /> @Html.DisplayNameFor(model => model.IsDone)
                                </label>
                            </div>
                            <div class="form-group">
                                <label asp-for="CreationDate" class="control-label"></label>
                                <input asp-for="CreationDate" class="form-control" disabled="disabled" />
                                <span asp-validation-for="CreationDate" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>