﻿@model HiveCare1.Models.Treatment

<div class="card shadow">
    
    <div class="card-header">

        <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#collapseTreatment@(Model.TreatmentId)" aria-expanded="false" aria-controls="collapseTreatment@(Model.TreatmentId)">
            <h5>Neuer Arbeitsvorgang am @DateTime.Now</h5>
        </button>
    </div>
    <div class="collapse show" id="collapseTreatment@(Model.TreatmentId)">
        <div class="card-body">
            <form asp-action="AddTreatment" asp-controller="BeekeepingApi" class="my-1 treatmentCreateForm">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 col-md-5">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="TypeOfAgenttype" class="control-label"></label>
                                @{
                                    var selects = Html.GetEnumSelectList(typeof(TreatmentAgenttypeEnum)).ToList();
                                    //selects.ForEach(x => x.Selected = Model.TypeOfAgenttype.ToString() == x.Value);
                                @Html.DropDownListFor(x => x.TypeOfAgenttype, selects, new { @class = "form-control" });}
                                <span asp-validation-for="TypeOfAgenttype" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Amount" class="control-label"></label>
                                <input asp-for="Amount" class="form-control" />
                                <span asp-validation-for="Amount" class="text-danger"></span>
                            </div>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="Brood" /> @Html.DisplayNameFor(model => model.Brood)
                                </label>
                            </div>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="BeePen" /> @Html.DisplayNameFor(model => model.BeePen)
                                </label>
                            </div>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="Varroa" /> @Html.DisplayNameFor(model => model.Varroa)
                                </label>
                            </div>
                            <div class="form-group">
                                <label asp-for="Weight" class="control-label"></label>
                                <input asp-for="Weight" class="form-control" />
                                <span asp-validation-for="Weight" class="text-danger"></span>
                            </div>
                            
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Arbeitsvorgang erstellen" class="btn btn-primary" />
                            </div>
                        </div>
                        <div class="col-12 col-md-7">
                            <div class="form-group">
                                <label asp-for="Comment" class="control-label"></label>
                                <textarea asp-for="Comment" class="form-control" rows="15"></textarea>
                                <span asp-validation-for="Comment" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DueDateTime" class="control-label"></label>
                                <input asp-for="DueDateTime" class="form-control" />
                                <span asp-validation-for="DueDateTime" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DoneDateTime" class="control-label"></label>
                                <input asp-for="DoneDateTime" class="form-control" />
                                <span asp-validation-for="DoneDateTime" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DoneById" class="control-label"></label>
                                <select asp-for="DoneById" class="form-control" asp-items="ViewBag.DoneById"></select>
                                <span asp-validation-for="DoneById" class="text-danger"></span>
                            </div>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="IsDone" /> @Html.DisplayNameFor(model => model.IsDone)
                                </label>
                            </div>
                            <div class="form-group">
                                <label asp-for="CreationDate" class="control-label"></label>
                                <input asp-for="CreationDate" class="form-control" disabled="disabled" />
                                <span asp-validation-for="CreationDate" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

