﻿@model HiveCare1.Models.HiveYieldAmount


<div class="card">
<div class="card-header">
    <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#collapseFeed@(Model.HiveYieldAmountId)" aria-expanded="false" aria-controls="collapseFeed@(Model.HiveYieldAmountId)">
        Ertrag vom @Model.CreationDate
    </button>
</div>
<div class="collapse" id="collapseFeed@(Model.HiveYieldAmountId)">
    <div class="card-body">
        <form asp-action="EditHiveYield" asp-controller="BeekeepingApi" class="my-1 hiveYieldEditForm">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-md-7">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="HiveYieldAmountId" />
                        <input type="hidden" asp-for="HiveId"/>
                        <div class="form-group">
                            <label asp-for="HoneycombCount" class="control-label"></label>
                            <input asp-for="HoneycombCount" class="form-control" />
                            <span asp-validation-for="HoneycombCount" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Amount" class="control-label"></label>
                            <input asp-for="Amount" class="form-control" />
                            <span asp-validation-for="Amount" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="WaterShare" class="control-label"></label>
                            <input asp-for="WaterShare" class="form-control" />
                            <span asp-validation-for="WaterShare" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Änderungen speichern" class="btn btn-primary" />
                        </div>
                    </div>
                    <div class="col-12 col-md-5">
                        
                        <div class="form-group">
                            <label asp-for="DueDateTime" class="control-label"></label>
                            <input asp-for="DueDateTime" class="form-control" />
                            <span asp-validation-for="DueDateTime" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="DoneDateTime" class="control-label"></label>
                            <input asp-for="DoneDateTime" class="form-control" />
                            <span asp-validation-for="DoneDateTime" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="DoneById" class="control-label"></label>
                            <select asp-for="DoneById" class="form-control" asp-items="ViewBag.DoneById"></select>
                            <span asp-validation-for="DoneById" class="text-danger"></span>
                        </div>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="IsDone" /> @Html.DisplayNameFor(model => model.IsDone)
                            </label>
                        </div>
                        <div class="form-group">
                            <label asp-for="CreationDate" class="control-label"></label>
                            <input asp-for="CreationDate" class="form-control" disabled="disabled" />
                            <span asp-validation-for="CreationDate" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            
        </form>
    </div>
</div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

