﻿@model HiveCare1.Models.Feed


<h5>Fütterung</h5>
<hr />
<div class="card">
    <div class="card-header">
        <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#collapseFeed@(Model.FeedId)" aria-expanded="false" aria-controls="collapseFeed@(Model.FeedId)">
            Fütterung vom @DateTime.Now
        </button>
    </div>
    <div class="collapse show" id="collapseFeed@(Model.FeedId)">
        <div class="card-body">

            <form asp-action="EditFeed" asp-controller="BeekeepingApi" class="my-1 feedEditForm">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 col-md-5">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="FeedType" class="control-label"></label>
                                @{
                                    var selects = Html.GetEnumSelectList(typeof(FeedTypeEnum)).ToList();
                                    selects.ForEach(x => x.Selected = Model.FeedType.ToString() == x.Value);
                                    @Html.DropDownListFor(x => x.FeedType, selects, new { @class = "form-control" });
                                    
                                }
                                <span asp-validation-for="FeedType" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Amout" class="control-label"></label>
                                <input asp-for="Amout" class="form-control" />
                                <span asp-validation-for="Amout" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Comment" class="control-label"></label>
                                <input asp-for="Comment" class="form-control" />
                                <span asp-validation-for="Comment" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="CreationDate" class="control-label"></label>
                                <input asp-for="CreationDate" class="form-control" />
                                <span asp-validation-for="CreationDate" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Fütterung Bearbeiten" class="btn btn-primary" />
                            </div>
                        </div>
                        <div class="col-12 col-md-7">
                            <div class="form-group">
                                <label asp-for="Comment" class="control-label"></label>
                                <textarea asp-for="Comment" class="form-control" rows="15"></textarea>
                                <span asp-validation-for="Comment" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DueDateTime" class="control-label"></label>
                                <input asp-for="DueDateTime" class="form-control" />
                                <span asp-validation-for="DueDateTime" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DoneDateTime" class="control-label"></label>
                                <input asp-for="DoneDateTime" class="form-control" />
                                <span asp-validation-for="DoneDateTime" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DoneById" class="control-label"></label>
                                <select asp-for="DoneById" class="form-control" asp-items="ViewBag.DoneById"></select>
                                <span asp-validation-for="DoneById" class="text-danger"></span>
                            </div>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="IsDone" /> @Html.DisplayNameFor(model => model.IsDone)
                                </label>
                            </div>
                            <div class="form-group">
                                <label asp-for="CreationDate" class="control-label"></label>
                                <input asp-for="CreationDate" class="form-control" disabled="disabled" />
                                <span asp-validation-for="CreationDate" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
