﻿@model Observation

@{
    ViewData["Title"] = "Beobachtungen";
}
<div class="card">
    <div class="card-header">

        <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#collapseObservation@(Model.ObservationId)" aria-expanded="false" aria-controls="collapseObservation@(Model.ObservationId)">
            Beobachtung vom @Model.CreationDate
        </button>
    </div>
    <div class="collapse" id="collapseObservation@(Model.ObservationId)">
        <div class="card-body">

            <form asp-action="EditObservation" asp-controller="BeekeepingApi" class="my-1 oberservationEditForm">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 col-md-5">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="ObservationId" />
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="QueenCells" /> @Html.DisplayNameFor(model => model.QueenCells)
                                </label>
                            </div>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="Pans" /> @Html.DisplayNameFor(model => model.Pans)
                                </label>
                            </div>
                            <div class="form-group">
                                <label asp-for="Liningcells" class="control-label"></label>
                                @{
                                    var selects = Html.GetEnumSelectList(typeof(AmountValueEnum)).ToList();
                                    selects.ForEach(x => x.Selected = Model.Liningcells.ToString() == x.Value);
                                    @Html.DropDownListFor(x => x.Liningcells, selects, new { @class = "form-control" });
                                    var test = 1;
                                }
                                <span asp-validation-for="Liningcells" class="text-danger"></span>
                            </div>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="Queen" /> @Html.DisplayNameFor(model => model.Queen)
                                </label>
                            </div>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="Brood" /> @Html.DisplayNameFor(model => model.Brood)
                                </label>
                            </div>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="Beepen" /> @Html.DisplayNameFor(model => model.Beepen)
                                </label>
                            </div>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="Varrora" /> @Html.DisplayNameFor(model => model.Varrora)
                                </label>
                            </div>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="PollenEntry" /> @Html.DisplayNameFor(model => model.PollenEntry)
                                </label>
                            </div>
                            <div class="form-group">
                                <label asp-for="AirTraffic" class="control-label"></label>
                                @{
                                    selects = Html.GetEnumSelectList(typeof(AmountValueEnum)).ToList();
                                    selects.ForEach(x => x.Selected = Model.AirTraffic.ToString() == x.Value);
                                    @Html.DropDownListFor(x => x.Liningcells, selects, new { @class = "form-control" });
                                }
                                <span asp-validation-for="AirTraffic" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Temperature" class="control-label"></label>
                                <input asp-for="Temperature" class="form-control" />
                                <span asp-validation-for="Temperature" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Weather" class="control-label"></label>
                                <input asp-for="Weather" class="form-control" />
                                <span asp-validation-for="Weather" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="MiteInfestation" class="control-label"></label>
                                <input asp-for="MiteInfestation" class="form-control" />
                                <span asp-validation-for="MiteInfestation" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Weight" class="control-label"></label>
                                <input asp-for="Weight" class="form-control" />
                                <span asp-validation-for="Weight" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="col-12 col-md-7">
                            <div class="form-group">
                                <label asp-for="Comment" class="control-label"></label>
                                <textarea asp-for="Comment" class="form-control" rows="15">@Model.Comment</textarea>
                                <span asp-validation-for="Comment" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DueDateTime" class="control-label"></label>
                                <input asp-for="DueDateTime" class="form-control" />
                                <span asp-validation-for="DueDateTime" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DoneDateTime" class="control-label"></label>
                                <input asp-for="DoneDateTime" class="form-control" />
                                <span asp-validation-for="DoneDateTime" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DoneById" class="control-label"></label>
                                <select asp-for="DoneById" class="form-control" asp-items="ViewBag.DoneById"></select>
                                <span asp-validation-for="DoneById" class="text-danger"></span>
                            </div>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="IsDone" /> @Html.DisplayNameFor(model => model.IsDone)
                                </label>
                            </div>
                            <div class="form-group">
                                <label asp-for="CreationDate" class="control-label"></label>
                                <input asp-for="CreationDate" class="form-control" disabled="disabled" />
                                <span asp-validation-for="CreationDate" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Änderungen speichern" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
