﻿@using System.Globalization
@model HiveCare1.Models.Hive
  
<div class="hivecard col-12 col-md-6 py-2" data-hive="@Model.HiveId" data-location="@Model.Location.LocationId" data-apiary="@Model.Location.Apiary.ApiaryId">
    <div class="card">
        <div class="card-header">
            <span class="font-weight-bold">
                
                <div class="dropdown d-inline-flex">
                    <button class="btn btn-light dropdown-toggle font-weight-bold" type="button" id="dropdownHiveActions@( Model.HiveId )" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="34px" viewBox="15 0 25 25"  style="transform: rotate(45deg);">
                            <path  d="M16 10a6 6 0 0 0-6 6v8a6 6 0 0 0 12 0v-8a6 6 0 0 0-6-6zm-4.25 7.87h8.5v4.25h-8.5zM16 28.25A4.27 4.27 0 0 1 11.75 24v-.13h8.5V24A4.27 4.27 0 0 1 16 28.25zm4.25-12.13h-8.5V16a4.25 4.25 0 0 1 8.5 0zm10.41 3.09L24 13v9.1a4 4 0 0 0 8 0 3.83 3.83 0 0 0-1.34-2.89zM28 24.35a2.25 2.25 0 0 1-2.25-2.25V17l3.72 3.47A2.05 2.05 0 0 1 30.2 22a2.25 2.25 0 0 1-2.2 2.35zM0 22.1a4 4 0 0 0 8 0V13l-6.66 6.21A3.88 3.88 0 0 0 0 22.1zm2.48-1.56L6.25 17v5.1a2.25 2.25 0 0 1-4.5 0 2.05 2.05 0 0 1 .73-1.56zM15 5.5A3.5 3.5 0 1 0 11.5 9 3.5 3.5 0 0 0 15 5.5zm-5.25 0a1.75 1.75 0 1 1 1.75 1.75A1.77 1.77 0 0 1 9.75 5.5zM20.5 2A3.5 3.5 0 1 0 24 5.5 3.5 3.5 0 0 0 20.5 2zm0 5.25a1.75 1.75 0 1 1 1.75-1.75 1.77 1.77 0 0 1-1.75 1.75z" />
                        </svg>
                        @Model.Name?.ToUpper(CultureInfo.CurrentCulture)
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownHiveActions@(Model.HiveId)">
                        <a href="@Url.Action("Edit","Hives",new {id = Model.HiveId})" class="dropdown-item">Bearbeiten</a>
                        <a href="@Url.Action("Delete","Hives",new {id = Model.HiveId})" class="dropdown-item">Löschen</a>
                    </div>
                </div>
            </span>
           
        </div>
        <div class="card-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 hover-light">
                        <span class="d-inline-block w-100">
                            <label class="font-weight-bold">Art: </label>
                            <span class="d-inline-flex align-top float-right">
                                @((HiveTypes)Model.Type) 
                            </span>
                        </span>
                    </div>
                    <div class="col-12 hover-light">
                        <span class="d-inline-block w-100">
                            <label class="font-weight-bold">Standort:</label>
                            <span class="d-inline-flex align-top float-right">
                                @Html.ActionLink(Model.Location.Name,"Details","Locations",new{id=Model.Location?.LocationId})
                            </span>
                        </span>
                    </div>
                    
                    <div class="col-12 hover-light">
                        <span class="d-inline-block w-100">
                            <label class="font-weight-bold">Bewertung:</label>
                            <span class="d-inline-flex align-top float-right fieldval">
                                @Model.Gentleness
                            </span>
                        </span>
                    </div>
                    <div class="col-12 hover-light">
                        <span class="d-inline-block w-100">
                            <label class="font-weight-bold">Wabentreue:</label>
                            <span class="d-inline-flex align-top float-right fieldval">
                                @Model.Loyalty
                            </span>
                        </span>
                    </div>
                    <div class="col-12 hover-light">
                        <span class="d-inline-block w-100">
                            <label class="font-weight-bold">Schwarmträgheit:</label>
                            <span class="d-inline-flex align-top float-right fieldval">
                                @Model.Inertia
                            </span>
                        </span>
                    </div>
                    <div class="col-12 hover-light">
                        <span class="d-inline-block w-100">
                            <label class="font-weight-bold">Stechlust:</label>
                            <span class="d-inline-flex align-top float-right fieldval">
                                @Model.Aggressiveness
                            </span>
                        </span>
                    </div>
                    <div class="col-12 hover-light">
                        <span class="d-inline-block w-100">
                            <label class="font-weight-bold">Königin: </label>
                            <table class="table-hover d-inline-flex align-top float-right">
                                <tbody>
                                <tr><td>Jahr:</td><td class="text-right"> @(Model.Queen?.QueenBirthYear) </td></tr>
                                <tr><td>Nummer:</td><td class="text-right">@(Model.Queen?.QueenNo) </td></tr>
                                <tr><td>Gezeichnet:</td><td class="text-right">@((Model.Queen??new Queen()).QueenPainted ? "ja" : "nein")  </td></tr>
                                </tbody>
                            </table>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
