﻿@using Microsoft.AspNetCore.Identity
@using Microsoft.Extensions.Configuration
@inject SignInManager<ApplicationUser> SignInManager
@inject IConfiguration _config
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - HiveCare</title>
    @{ await RenderSectionAsync("CSSLink", false); }
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" asp-append-version="true"/>
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
        <link rel="stylesheet" href="~/lib/bootstrap-select/css/bootstrap-select.min.css" asp-append-version="true"/>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/bower_components/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"/>
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true"/>

    </environment>
</head>
<body>
    <partial name="_CookieConsentPartial" />
    <nav id="HCMainNav" class="navbar navbar-expand-md sticky-top navbar-light bg-light">
        <partial name="_MainMenu" />
        @{ await RenderSectionAsync("LoggedinMenuExtension", false); }
    </nav>
    <div id="HCMainContainer" class="container-fluid">
        <div class="row">

                @RenderBody()

        </div>
    <footer class="bg-dark" style="text-align: center">

        <p class="text-white m-0 p-0">&copy; 2019 - HiveCare1</p>

    </footer>
</div>

    <environment>
        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation/dist/additional-methods.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/lib/popper/dist/umd/popper.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/lib/bootstrap-select/js/bootstrap-select.min.js"></script>
        <script src="~/lib/d3/dist/d3.min.js"></script>
        <script src="~/lib/qrcodejs/qrcode.min.js"></script>

        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    @await RenderSectionAsync("Scripts", false)
    @await RenderSectionAsync("ScriptsLoggedin", false)
<script type="text/javascript">
    $(document).ready(function () {
        new QRCode("qrcode", {
            text: `@Url.Action("Index","Beekeeping")?apiaryid=${$("#Apiary").val()}&locationid=${$("#Locations").val()}&hiveid=${$("#Hives").val()}`
        });
    })
    
</script>
</body>
</html>