﻿@using HiveCare1.Controllers
@using Microsoft.Extensions.Configuration
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@inject HivesController HivesController
@inject IConfiguration _config
@section CSSLink{<link rel="stylesheet" href="~/lib/leaflet/dist/leaflet.css" />}

     <nav class="col-md-2 d-none d-md-block bg-light sidebar">
         <div class="sidebar-sticky">
             <ul class="nav flex-column">
                 @if (User.IsInRole("Superuser"))
                 {
                     <li class="nav-item">
                         <a asp-area="Identity" asp-page="/AdminPage/ManageUsers" class="nav-link">Benutzer verwalten</a>
                     </li>
                     <li class="nav-item">
                         @Html.ActionLink("Imkereien", "Index", "Apiaries", null, new { @class = "nav-link" })
                     </li>
                 }
                 
                <li class="nav-item">
                     @Html.ActionLink("Standorte", "Index", "Locations", null, new { @class = "nav-link" })
                 </li>
                 
                 <li class="nav-item">
                     @Html.ActionLink("Bienenvölker", "Index", "Hives", null, new { @class = "nav-link" })
                 </li>
                
                 <hr/>
                 <li class="nav-item">
                     @Html.ActionLink("Imker- Ansicht", "Index", "Beekeeping", null, new { @class = "nav-link" })
                 </li>
             </ul>
         </div>
     </nav>
     <main id="HCMain" class="col-md-9 ml-sm-auto col-lg-10 px-4">
         <div class="container-fluid">
             <div class="row">
                 <div id="mainmap" class="col-md-12 mt-2"></div>
                 <div class="col-12" id="HCContent">
                     @RenderBody()
                 </div>
             </div>
         </div>
     </main>
@section ScriptsLoggedin{
    <script src="~/lib/leaflet/dist/leaflet.js"></script>
    <script src="~/lib/d3/dist/d3.js"></script>
    <script src="~/lib/qrcodejs/qrcode.min.js"></script>
    
    <script src="~/js/HiveCare.js" asp-append-version="true"></script>
    <script type="text/javascript">

        $(document).ready(function() {
            $("input[type=range]").on("change",
                function(e) {
                    var sender = $(e.target);
                    var value = sender.val();
                    sender.siblings(".fieldval").text(value);
                    console.log(value);

                    new QRCode(document.getElementById("qrcode"),
                        `@Url.Action("Index","Beekeeping")?apiaryid=${$("#Apiary").val()}&locationid=${$("#Locations")
                        .val()}&hiveid=${$("#Hives").val()}`);
                });
            $("#openPicker").on("click",
                function(e) {
                    hivecare.locationPicker(e.target);
                });
            $("#toggleScanner").on("click",
                function(e) {
                    let scanner = new Instascan.Scanner({ video: document.getElementById('preview') });
                    scanner.addListener('scan',
                        function(content) {
                            console.log(content);
                        });
                    Instascan.Camera.getCameras().then(function(cameras) {
                        if (cameras.length > 0) {
                            scanner.start(cameras[0]);
                        } else {
                            console.error('No cameras found.');
                        }
                    }).catch(function(e) {
                        console.error(e);
                    });
                });
            const options = {
                height: window.innerHeight - 200,
                latLon: { lat: 48.770, lon: 9.322 },
                mapbox_token: "@(_config.GetSection("MapboxToken").Value)",
                type: "",
                action: "",
                feed: ["Apiaries", "alerts", "hives", "users", "locations"],
                scrollWheelZoom: false,
            };
            hivecare = new HiveCare("mainmap", options);
        });
    </script>
    @await RenderSectionAsync("ScriptsBody", false)
}