﻿@using System.Globalization
@model HiveCare1.Models.Location
<div class="col-12 col-md-6 py-2"  class="@(ViewData["size"]??"") hccard" data-locationLocationId="@Model.LocationId" data-city="@Model.City">
    <div class="card">
        <div class="card-header">
            <span class="font-weight-bold">
                
                <div class="dropdown w-100 d-inline-flex">
                    <button class="btn btn-light dropdown-toggle font-weight-bold" type="button" id="dropdownActions@( Model.LocationId )" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="34px" viewBox="9 9 20 20">
                            <path d="M16 10a3 3 0 1 1-3 3 3 3 0 0 1 3-3m0-2a5 5 0 1 0 5 5 5 5 0 0 0-5-5z" />
                            <path fill="#231f20" d="M16 4a8.88 8.88 0 0 1 9 8.71 8.47 8.47 0 0 1-1.79 5.21L16 28.46 8.85 18A8.47 8.47 0 0 1 7 12.71 8.88 8.88 0 0 1 16 4m0-2A10.86 10.86 0 0 0 5 12.71a10.53 10.53 0 0 0 2.2 6.43L16 32l8.8-12.86a10.53 10.53 0 0 0 2.2-6.43A10.86 10.86 0 0 0 16 2z" />
                        </svg>
                        <span>@Model.Name?.ToUpper(CultureInfo.CurrentCulture)</span>
</button>
                    <div class="dropdown-menu" aria-labelledby="dropdownActions@(Model.LocationId)">
                        <a href="@Url.Action("Edit","Locations",new {id = Model.LocationId})" class="dropdown-item">Bearbeiten</a>
                        <a href="@Url.Action("Delete","Locations",new {id = Model.LocationId})" class="dropdown-item">Löschen</a>
                    </div>
                </div>
            </span>
           
        </div>
        <div class="card-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <span class="d-inline-block w-100">
                            <label class="font-weight-bold">Adresse: </label>
                            <span class="d-inline-flex align-top float-right">
                                @(Model.Street + " " + Model.HouseNo) <br />
                                @(Model.Zip + " " + Model.City)
                            </span>
                        </span>
                    </div>
                    <div class="col-12">
                        <span class="d-inline-block w-100">
                            <label class="font-weight-bold">Bienenvölker:</label>
                            <span class="d-inline-flex align-top float-right">
                                @Model.Hives.Count
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
