@using System.Net
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@inject SignInManager<ApplicationUser> SignInManager
@inject ApplicationUserManager UserManager
@inject IAuthorizationService AuthorizationService


<li class="nav-item dropdown">

    @if (SignInManager.IsSignedIn(User))
    {
        <a class="nav-link dropdown-toggle" href="#" id="dropdownLoginMenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Hello @UserManager.GetUserName(User)
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownLoginMenu">
            <a asp-area="Identity" asp-page="/Account/Manage/Index" class="dropdown-item" title="Manage">Profile</a>
            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new {area = ""})" method="post" id="logoutForm" class="navbar-right">
                <button class="dropdown-item" type="submit">Logout</button>
            </form>
        </div>
    }
    else
    {
        if ((await AuthorizationService.AuthorizeAsync(User, "RequireAdministratorRole")).Succeeded)
        {
            <a asp-area="Identity" class="dropdown-item" asp-page="/Account/Login" asp-route-returnUrl="@Url.Action("Index", "Admin")">Login</a>
        }
        else
        {
            <a asp-area="Identity" class="dropdown-item" asp-page="/Account/Login" asp-route-returnUrl="@Url.Action("Index", "Beekeeping")">Login</a>
        }
    }
</li>