﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject ApplicationUserManager UserManager

@if (User.IsInRole("Administrator") || User.IsInRole("Superuser"))
{
    <li class="nav-item ">
        <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Index">Dashboard</a>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="menuExtension" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Qicklinks</a>
        <ul class="dropdown-menu" aria-labelledby="menuExtension">

            <li>
                <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Register">Register User</a>
            </li>
            <li>
                <a class="dropdown-item" asp-controller="Hives" asp-action="Create">Neues Bienenvolk</a>
            </li>
            <li>
                <a class="dropdown-item" asp-controller="Locations" asp-action="Create">Neuer Standort</a>
            </li>
            <li>
                <a class="dropdown-item" asp-controller="Apiaries" asp-action="Create">Neue Imkerei</a>
            </li>
            <li>
            <a class="dropdown-item" href="/Admin/CreateYield">Erträge zusammenführen</a>
                @Html.ActionLink("add","CreateYield","Admin")
            </li>
        </ul>
    </li>
}