﻿@using System.Globalization
@using System.Security.Cryptography.X509Certificates
@using HiveCare1.Controllers
@inject HivesController HivesController
@model Queen

<div class="col-12 col-md-6 py-2">
    <div class="card">
        <div class="card-header">
            <span class="font-weight-bold">
                <div class="dropdown d-inline-flex">
                    @Html.HiddenFor(model => model.QueenId)
                    <button class="btn btn-light dropdown-toggle font-weight-bold" type="button" id="dropdownQueenActions@(Model.QueenId)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span>
                            <svg version="1.1" viewBox="0 0 32 32" height="32px" width="32px">
                                <g id="layer1">
                                    <path d="m 15.998291,9.7642722 a 6,6 0 0 0 -6,5.9999998 v 8 a 6,6 0 0 0 12,0 v -8 a 6,6 0 0 0 -6,-5.9999998 z m -4.25,7.8699998 h 8.5 v 4.25 h -8.5 z m 4.25,10.38 a 4.27,4.27 0 0 1 -4.25,-4.25 v -0.13 h 8.5 v 0.13 a 4.27,4.27 0 0 1 -4.25,4.25 z m 4.25,-12.13 h -8.5 v -0.12 a 4.25,4.25 0 0 1 8.5,0 z m 10.41,3.09 -6.66,-6.21 v 9.1 a 4,4 0 0 0 8,0 3.83,3.83 0 0 0 -1.34,-2.89 z m -2.66,5.14 a 2.25,2.25 0 0 1 -2.25,-2.25 v -5.1 l 3.72,3.47 a 2.05,2.05 0 0 1 0.73,1.53 2.25,2.25 0 0 1 -2.2,2.35 z m -27.99999987,-2.25 a 4,4 0 0 0 7.99999997,0 v -9.1 l -6.66,6.21 a 3.88,3.88 0 0 0 -1.33999997,2.89 z m 2.47999997,-1.56 3.77,-3.54 v 5.1 a 2.25,2.25 0 0 1 -4.5,0 2.05,2.05 0 0 1 0.73,-1.56 z M 14.998291,5.2642722 a 3.5,3.5 0 1 0 -3.5,3.5 3.5,3.5 0 0 0 3.5,-3.5 z m -5.2499999,0 a 1.75,1.75 0 1 1 1.7499999,1.75 1.77,1.77 0 0 1 -1.7499999,-1.75 z m 10.7499999,-3.5 a 3.5,3.5 0 1 0 3.5,3.5 3.5,3.5 0 0 0 -3.5,-3.5 z m 0,5.25 a 1.75,1.75 0 1 1 1.75,-1.75 1.77,1.77 0 0 1 -1.75,1.75 z"
                                          id="path31" />
                                </g>
                                <g id="layer2">
                                    <path id="path53"
                                          d="m 10.474065,13.852266 -2.602517,-4.4111542 2.917192,0.6243512 0.402989,-2.6241544 2.71901,0.7738632 0.58282,-2.7626177 2.620852,4.4001065 z"
                                          style="fill: #ffd100; fill-opacity: 1; stroke: #000000; stroke-width: 0.48572543px; stroke-linecap: butt; stroke-linejoin: miter; stroke-opacity: 1" />
                                </g>
                            </svg>
                            Königin
                        </span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownQueenActions@(Model.QueenId)">
                        @if (Model.QueenId == 0)
                        {
                            <a href="@Url.Action("AddQueen", "Hives", new {id = Model.HiveId})" class="dropdown-item btn btn-outline-success">Königin hinzufügen</a>
                        }
                        else
                        {
                            <a href="@Url.Action("RemoveQueen", "Hives", new {id = Model.HiveId})" class="dropdown-item">Königin entfernen</a>
                        }
                    </div>
                </div>
            </span>

        </div>
        <div class="card-body @(Model.QueenId ==0?"d-none":"")">
                <div class="row">
                    <div class="col-12">
                        <span class="d-inline-block w-100">
                            <label class="font-weight-bold">Nummer: </label>
                            <span class="d-inline-flex align-top float-right">
                                @Html.TextBoxFor(model => model.QueenNo)
                            </span>
                        </span>
                    </div>
                    <div class="col-12">
                        <span class="d-inline-block w-100">
                            <label class="font-weight-bold">Jahr: </label>
                            <span class="d-inline-flex align-top float-right">
                                @Html.TextBoxFor(model => model.QueenBirthYear)
                            </span>
                        </span>
                    </div>
                    <div class="col-12">
                        <span class="d-inline-block w-100">
                            <label class="font-weight-bold">Gezeichnet: </label>
                            <span class="d-inline-flex align-top float-right">
                                @Html.DropDownListFor(model => model.QueenPainted,new[]
                                {
                                    new SelectListItem("Ja","true"),
                                    new SelectListItem("Nein","false" )
                                })
                            </span>
                        </span>
                    </div>

                </div>
            </div>
        </div>
</div>

