﻿@model HiveCare1.Models.ApplicationUser
@inject ApplicationUserManager ApplicationUserManager
@{ var userrole = await ApplicationUserManager.GetRolesAsync(Model); }
<div class="@(ViewData["size"]??"col-4")" data-role="@userrole.FirstOrDefault()">
    <div class="card">
        <div class="card-header">
            <span class="font-weight-bold">
                <svg xmlns="http://www.w3.org/2000/svg" height="34px" viewBox="13 5 17 17">
                    <path d="M16 4a5 5 0 1 1-5 5 5 5 0 0 1 5-5m0-2a7 7 0 1 0 7 7 7 7 0 0 0-7-7zm10 28h-2v-5a5 5 0 0 0-5-5h-6a5 5 0 0 0-5 5v5H6v-5a7 7 0 0 1 7-7h6a7 7 0 0 1 7 7z" />
                </svg>
            <span>@(Model.Firstname + " " + Model.Familyname)</span>
            </span>
        </div>

        <div class="card-body @(ViewData["bodyhidden"]??"")">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <span class="d-inline-block w-100"><label class="font-weight-bold">Benutzername(Email): </label><span class="d-inline-flex align-top float-right">@Model.UserName</span></span>
                    </div>
                    <div class="col-12">
                        <span class="d-inline-block w-100">
                            <label class="font-weight-bold">Adresse: </label>
                            <span class="d-inline-flex align-top float-right">
                                @(Model.Street + " " + Model.HouseNo) <br />
                                @(Model.Zip + " " + Model.City)
                            </span>
                        </span>
                    </div>
                    <div class="col-12">
                        <span class="d-inline-block w-100">
                            <label class="font-weight-bold">Role:</label>
                            <span class="d-inline-flex align-top float-right">
                                @userrole.FirstOrDefault()
                            </span>
                        </span>
                    </div>
                    <div class="col-12">
                        <span class="d-inline-block w-100">
                            <label class="font-weight-bold">Opeations:</label>
                            <span class="d-inline-flex align-top float-right">
                                <span><a href="@Url.Page("/AdminPage/Edit",new {email = Model.Email})">Edit</a></span>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
