﻿@page
@model ManageUsersModel
@inject RoleManager<ApplicationRole> RoleManager
@inject ApplicationUserManager ApplicationUserManager
@{
    Layout = "_LayoutExtensionLoggedin";
    ViewData["Title"] = "Benutzerverwaltung";
    var roles = RoleManager.Roles;
}

<h2>@ViewData["Title"]</h2>
<div class="col-12">
<div class="row">
    @foreach (var role in roles)
    {
        <div class="col p-1">
            <a class="filter-option btn btn-outline-info d-block active" data-role="@role.Name" role="button">@role.Name</a>
        </div>
    }
    </div>
    <div class="row" id="UserCards">
    @foreach (var applicationUser in ApplicationUserManager.Users)
    {
        await Html.RenderPartialAsync("_UserCard", applicationUser);
    }

</div>
</div>
@section ScriptsBody {
    <partial name="_ValidationScriptsPartial"/>
    <script type="text/javascript">
        $(document).ready(function() {
            $(".filter-option ").on("click",
                function (event) {
                    $(event.target).hasClass("active")
                        ? $(event.target).removeClass("active")
                        : $(event.target).addClass("active");

                    $(".filter-option").each(function (index,elem) {
                        if ($(elem).hasClass("active"))
                            $("#UserCards").find("*[data-role='" + $(elem).data("role") + "']").show("slow");
                        else
                            $("#UserCards").find("*[data-role='" + $(elem).data("role") + "']").hide("slow");
                    });

                });
        })
        
    </script>
}