﻿@model HiveCare1.Areas.Identity.Pages.AdminPage.EditModel


<form asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <h4>Edit account.</h4>
    <hr/>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Input.Firstname"></label>
        <input asp-for="Input.Firstname" class="form-control"/>
        <span asp-validation-for="Input.Firstname" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.Familyname"></label>
        <input asp-for="Input.Familyname" class="form-control"/>
        <span asp-validation-for="Input.Familyname" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-9" style="padding-left: 0; padding-right: 0">
                    <label asp-for="Input.Street"></label>
                    <input asp-for="Input.Street" class="form-control col"/>
                    <span asp-validation-for="Input.Street" class="text-danger"></span>
                </div>
                <div class="col-md-3" style="padding-left: 0; padding-right: 0">
                    <label asp-for="Input.HouseNo"></label>
                    <input asp-for="Input.HouseNo" class="form-control col"/>
                    <span asp-validation-for="Input.HouseNo" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8" style="padding-left: 0; padding-right: 10px">
                    <label asp-for="Input.City"></label>
                    <input asp-for="Input.City" class="form-control col"/>
                    <span asp-validation-for="Input.City" class="text-danger"></span>
                </div>
                <div class="col-md-3" style="padding-left: 0; padding-right: 0">
                    <label asp-for="Input.Zip"></label>
                    <input asp-for="Input.Zip" class="form-control col"/>
                    <span asp-validation-for="Input.Zip" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Input.Email"></label>
        <input asp-for="Input.Email" class="form-control"/>
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.Password"></label>
        <input asp-for="Input.Password" class="form-control"/>
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.ConfirmPassword"></label>
        <input asp-for="Input.ConfirmPassword" class="form-control"/>
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-default">Register</button>
</form>