﻿@model HiveCare1.Models.Yield
@inject ApiariesController ApiariesController;
@inject ApplicationUserManager UserManager;
@{
    ViewData["Title"] = "CreateYield";
    Layout = "~/Views/Shared/_LayoutExtensionLoggedin.cshtml";
}

<h1>CreateYield</h1>

<h4>Yield</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateYield">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="YieldType" class="control-label"></label>
                @{
                    var selects1 = Html.GetEnumSelectList(typeof(YieldTypeEnum)).ToList();
                    //selects1.ForEach(x => x.Selected = Model.YieldType.ToString() == x.Value);
                    @Html.DropDownListFor(x => x.YieldType, selects1, new { @class = "form-control" });
                }
                <span asp-validation-for="YieldType" class="text-danger"></span>
            </div>
            <div class="form-group">
                @{
                    var selects = (await UserManager.GetCurrentUserAsync()).Apiaries.Select(x => x.Apiary).SelectMany(x => x.Locations).SelectMany(loc => loc.Hives.SelectMany(y => y.YieldAmounts).Select(ya=>
                        new SelectListItem(ya.Hive.Name + " am " + ya.CreationDate.ToShortDateString()+": "+ya.Amount.ToString(),ya.HiveYieldAmountId.ToString())));
                    @Html.DropDownList("HiveYields", selects,new { @class = "form-control selectpicker", multiple = "multiple" })
                }
            </div>
            <div class="form-group">
                <label asp-for="YieldTypeText" class="control-label"></label>
                <input asp-for="YieldTypeText" class="form-control"/>
                <span asp-validation-for="YieldTypeText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreationDate" class="control-label"></label>
                <input asp-for="CreationDate" class="form-control" />
                <span asp-validation-for="CreationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Erträge zusammenführen" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

