﻿@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@model HiveCare1.Controllers.DashboardModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutExtensionLoggedin.cshtml";
}
@inject ApplicationUserManager _userManager;
<h2>Dashboard</h2>
<div class="row">
    <div class="col-sm-12 col-md-6" id="ApiaryCard">
        <div class="card-dashboard shadow"> 
            <span class="w-100">
                Imkereien
                <a class="btn btn-light text-right">
                    <svg xmlns="http://www.w3.org/2000/svg" style="width: 20px" viewBox="0 0 32 32">
                        <path d="M21 2v2h5.59L17 13.58 18.41 15 28 5.41V11h2V2h-9zm-6 16.42L13.59 17 4 26.59V21H2v9h9v-2H5.41L15 18.42z" />
                    </svg>
                </a>
            </span>
            <div>
               @foreach (var apiary in (await _userManager.GetCurrentUserAsync()).Apiaries)
               {
                   @Html.RenderPartialAsync("_ApiaryCard",apiary.Apiary)
               }
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="card card-dashboard">
            <div class="card-header">
                Standorte
                <span class="w-100">
                    <a class="btn btn-light float-right">
                        <svg xmlns="http://www.w3.org/2000/svg" style="width: 20px" viewBox="0 0 32 32">
                            <path d="M21 2v2h5.59L17 13.58 18.41 15 28 5.41V11h2V2h-9zm-6 16.42L13.59 17 4 26.59V21H2v9h9v-2H5.41L15 18.42z"/>
                        </svg>
                    </a>
                </span>
            </div>
            <div class="card-body">
                
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="card card-dashboard">
            <div class="card-header">
                Bienenvölker
                <span class="w-100">
                    <a class="expand-card btn btn-light float-right">
                        <svg xmlns="http://www.w3.org/2000/svg" style="width: 20px" viewBox="0 0 32 32">
                            <path d="M21 2v2h5.59L17 13.58 18.41 15 28 5.41V11h2V2h-9zm-6 16.42L13.59 17 4 26.59V21H2v9h9v-2H5.41L15 18.42z"/>
                        </svg>
                    </a>
                </span>
            </div>
            <div class="card-body">

            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="card card-dashboard">
            <div class="card-header">
                Ereignisse
                <span class="w-100">
                    <a class="btn btn-light float-right">
                        <svg xmlns="http://www.w3.org/2000/svg" style="width: 20px" viewBox="0 0 32 32">
                            <path d="M21 2v2h5.59L17 13.58 18.41 15 28 5.41V11h2V2h-9zm-6 16.42L13.59 17 4 26.59V21H2v9h9v-2H5.41L15 18.42z"/>
                        </svg>
                    </a>
                </span>
            </div>
            <div class="card-body">

            </div>
        </div>
    </div>

</div>

@section ScriptsBody{
    <script type="text/javascript">
        function pieChart(pD) {
            var pC = {}, pieDim = { w: 250, h: 250 };
            pieDim.r = Math.min(pieDim.w, pieDim.h) / 2;

            // create svg for pie chart.
            var piesvg = d3.select(id).append("svg")
                .attr("width", pieDim.w).attr("height", pieDim.h).append("g")
                .attr("transform", "translate(" + pieDim.w / 2 + "," + pieDim.h / 2 + ")");

            // create function to draw the arcs of the pie slices.
            var arc = d3.svg.arc().outerRadius(pieDim.r - 10).innerRadius(0);

            // create a function to compute the pie slice angles.
            var pie = d3.layout.pie().sort(null).value(function (d) { return d.freq; });

            // Draw the pie slices.
            piesvg.selectAll("path").data(pie(pD)).enter().append("path").attr("d", arc)
                .each(function (d) { this._current = d; })
                .style("fill", function (d) { return segColor(d.data.type); })
                .on("mouseover", mouseover).on("mouseout", mouseout);

            // create function to update pie-chart. This will be used by histogram.
            pC.update = function (nD) {
                piesvg.selectAll("path").data(pie(nD)).transition().duration(500)
                    .attrTween("d", arcTween);
            }
            // Utility function to be called on mouseover a pie slice.
            function mouseover(d) {
                // call the update function of histogram with new data.
                hG.update(fData.map(function (v) {
                    return [v.State, v.freq[d.data.type]];
                }), segColor(d.data.type));
            }
            //Utility function to be called on mouseout a pie slice.
            function mouseout(d) {
                // call the update function of histogram with all data.
                hG.update(fData.map(function (v) {
                    return [v.State, v.total];
                }), barColor);
            }
            // Animating the pie-slice requiring a custom function which specifies
            // how the intermediate paths should be drawn.
            function arcTween(a) {
                var i = d3.interpolate(this._current, a);
                this._current = i(0);
                return function (t) { return arc(i(t)); };
            }
            return pC;
        }
        function drawApiarieDiagram(data) {
            data.apiaries.forEach(function(element, index) {
                $("#ApiaryCard .card-body").append(element.name);
            }); 
            
        }
        $(document).ready(function() {
            var apiaries = hivecare.doForEachObject("Apiaries", drawApiarieDiagram);
        });

    </script>
}