﻿@using HiveCare1.Controllers
@model Location
@inject LocationsController LocationsController

<div class="card">
    <div class="card-header" id="@Html.Raw("headingLocation" + Model.LocationId)">
        <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#@Html.Raw("collapseLocation" + Model.LocationId)" aria-expanded="false" aria-controls="@Html.Raw("collapseLocation" + Model.LocationId)">
                <i class="fi-map-marker"></i>@Model.Name
            </button>
        </h2>
    </div>
    <div id="@Html.Raw("collapseLocation" + Model.LocationId)" class="collapse" aria-labelledby="@Html.Raw("headingLocation" + Model.LocationId)" data-parent="#LocationAccordion">
        <div class="card-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        @Html.DisplayForModel(Model)

                    </div>
                    <div class="col-md-9">
                        <div class="location-map w-100" style="height: 400px" id="@Html.Raw(Model.LocationId)map" data-lat="@Html.Raw(Model.Latitude)" data-lng="@Html.Raw(Model.Longitude)"></div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>