﻿@model Apiary

<div class="container-fluid">
    <div class="row">

        <div class="col-4">

            <ul>
                @foreach (var administrator in Model.Users)
                {
                    <li>@administrator.ApplicationUser.Firstname @administrator.ApplicationUser.Familyname @administrator.ApplicationUser.UserName</li>
                }
            </ul>
        </div>
        <div class="col-md-4">
            <ul>
                @foreach (var Location in Model.Locations)
                {
                    <li>@Location.Name</li>
                }
            </ul>
        </div>
        <div class="col-4">
            <h3>Hives</h3>
            <ul>
                @foreach (var location in Model.Locations)
                {
                    <li>
                        @location.Name<ul>
                            @foreach (var hive in location.Hives)
                            {
                                <li>@hive.Name</li>
                            }
                        </ul>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>