﻿@using Microsoft.Extensions.Configuration
@model HiveCare1.Controllers.DashboardModel
@inject IConfiguration _config

@{
    ViewBag.Title = "HiveCare Karte";
    Layout = "_Layout";
}

@section CSSLink{<link rel="stylesheet" href="~/lib/leaflet/dist/leaflet.css"/>}

    <div id="map" class="col-12"></div>

@section Scripts
{
    <script src="~/lib/leaflet/dist/leaflet.js"></script>
    <script src="~/js/HiveCare.js" asp-append-version="true"></script>

    <script type="text/javascript">

        $("document").ready(function() {
            const options = {
                height: window.innerHeight - 100,
                latLon: { lat: 48.770, lon: 9.322 },
                mapbox_token: "@(_config.GetSection("MapboxToken").Value)",
                type: "",
                action: "",
                feed: ["Apiaries", "alerts", "hives", "users", "locations"],
                scrollWheelZoom: false,
            };
            hivecare = new HiveCare("mainmap", options);
            hivecare.showMap("map", { action: "", type: "" });
        });
    </script>
}