﻿@using Microsoft.AspNetCore.Identity
@model ApplicationUser
@inject ApplicationUserManager UserManager

<div class="card">
    <div class="card-header" id="@Html.Raw("headingUser" + Model.Id)">
        <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#@Html.Raw("collapseUser" + Model.Id)" aria-expanded="false" aria-controls="@Html.Raw("collapseUser" + Model.Id)">
                <i class="fa-user"></i>@Model.Email
            </button>
        </h2>
    </div>
    <div id="@Html.Raw("collapseUser" + Model.Id)" class="collapse" aria-labelledby="@Html.Raw("headingUser" + Model.Id)" data-parent="#UserAccordion">
        <div class="card-body">
            @Html.DisplayForModel(Model)
        </div>
    </div>
</div>