﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
html, body { height: 100%; padding: 0; margin: 0 }
#HCMainNav {
    height: 92px;
}

#HCMainContainer {
    background-color: white;
    height: calc(100vh - 92px);
    overflow:hidden scroll;
    padding: 0;
}

#HCMain {
    min-height: 100vh;
}
footer {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 600;
}

.card {
    margin: 7.5px 0;
}
.card-header {
    padding: 0
}

.card-header { padding: 0 }

.card-header span,
.card-header button {
    align-items: center;
    display: flex;
    flex-grow: 1;
    width: 100% !important;
}

.card-header button:after { text-align: right; }

.card-header:hover button { background-color: transparent; }

.card-header:hover {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.125), rgba(255, 255, 255, 0));
    background-size: 100%
}
.card-header span svg:after {
    content: " ";
}
.hover-light:hover {
    border-top: 1px solid #dddddd;
}

.card-dashboard {
    flex-grow: 1
}
.logo {
    background-color: #f8f9fa;
    border-radius: 5px 0 0 5px;
    fill: gold !important;
    margin-top: -15px;
    padding: 5px;
    width: 60px;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 92px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.sidebar .nav-link {
    color: #333;
    font-weight: 500;
}

.sidebar .nav-link .feather {
    color: #999;
    margin-right: 4px;
}

.sidebar .nav-link.active { color: #007bff; }

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather { color: inherit; }

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

#hcSubMenu {
    align-items: flex-end;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 15px;
}

#hcMainContainer {
    height: auto;
    min-height: 100%;
}

#hcFilterBarGrp {
    border: 2px solid rgb(255, 215, 0);
    border-radius: 5px;
}

#hcFilterBar {
    padding: 10px 0 12px 40px;
    position: absolute;
    z-index: 450;
}

#navbarSupportedContent {
    background-color: #f8f9fa;
}

#qrcode {
    z-index: 1000;
}
#qrcode:before {
    color: white;
    content: "QR- Code:\A";
    white-space: pre;
}

#qrcode img {
    display: inline-block !important;
    height: 50px;
    width: 50px;
}

#qrcode:hover img {
    display: inline-block !important;
    height: 320px;
    width: 320px;
}


.hcFilterBarBtn {
    background-color: rgb(255, 255, 255);
    color: rgb(100, 100, 100);
    text-decoration: underline;
}

.hcFilterBarBtn.active,
.hcFilterBarBtn:hover {
    background-color: rgb(255, 215, 0);
    color: rgba(255, 255, 255, 1);
}

.hcFilterBarBtn.active {
    background-color: rgb(255, 215, 0);
    border-color: white;
    color: rgb(255, 255, 255);
}

#hcMapToggler {
    -moz-animation: toggleDown linear 0.5s forwards;
    -moz-animation-iteration-count: 1;
    -moz-transform-origin: 50% 50%;
    -ms-animation: toggleDown linear 0.5s forwards;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%;
    -o-animation: toggleDown linear 0.5s forwards;
    -o-animation-iteration-count: 1;
    -o-transform-origin: 50% 50%;
    -webkit-animation: toggleDown linear 0.5s forwards;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    align-self: center;
    animation: toggleDown linear 0.5s forwards;
    animation-iteration-count: 1;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgb(255, 215, 0);
    border-radius: 5px;
    cursor: pointer;
    transform-origin: 50% 50%;
    z-index: 450;
}

.card-dashboard { margin-top: 30px }

@keyframes toggleUp {
    0% { transform: rotate(180deg); }

    100% { transform: rotate(0deg); }
}

@-moz-keyframes toggleUp {
    0% { -moz-transform: rotate(180deg); }

    100% { -moz-transform: rotate(0deg); }
}

@-webkit-keyframes toggleUp {
    0% { -webkit-transform: rotate(180deg); }

    100% { -webkit-transform: rotate(0deg); }
}

@-o-keyframes toggleUp {
    0% { -o-transform: rotate(180deg); }

    100% { -o-transform: rotate(0deg); }
}

@-ms-keyframes toggleUp {
    0% { -ms-transform: rotate(180deg); }

    100% { -ms-transform: rotate(0deg); }
}

@keyframes toggleDown {
    0% { transform: rotate(0deg); }

    100% { transform: rotate(180deg); }
}

@-moz-keyframes toggleDown {
    0% { -moz-transform: rotate(0deg); }

    100% { -moz-transform: rotate(180deg); }
}

@-webkit-keyframes toggleDown {
    0% { -webkit-transform: rotate(0deg); }

    100% { -webkit-transform: rotate(180deg); }
}

@-o-keyframes toggleDown {
    0% { -o-transform: rotate(0deg); }

    100% { -o-transform: rotate(180deg); }
}

@-ms-keyframes toggleDown {
    0% { -ms-transform: rotate(0deg); }

    100% { -ms-transform: rotate(180deg); }
}

#hcMapToggler.down {
    -moz-animation: toggleUp linear 0.5s forwards;
    -moz-animation-iteration-count: 1;
    -moz-transform-origin: 50% 50%;
    -ms-animation: toggleUp linear 0.5s forwards;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%;
    -o-animation: toggleUp linear 0.5s forwards;
    -o-animation-iteration-count: 1;
    -o-transform-origin: 50% 50%;
    -webkit-animation: toggleUp linear 0.5s forwards;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    animation: toggleUp linear 0.5s forwards;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
}

#collapseSidebar.collapsing {
    -moz-transition: width 0.5s ease;
    -o-transition: width 0.5s ease;
    -webkit-transition: width 0.5s ease;
    transition: width 0.5s ease;
}

.navbar-toggler.collapsed {
    -moz-animation: toggleRight linear 0.5s forwards;
    -moz-animation-iteration-count: 1;
    -moz-transform-origin: 50% 50%;
    -ms-animation: toggleRight linear 0.5s forwards;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%;
    -o-animation: toggleRight linear 0.5s forwards;
    -o-animation-iteration-count: 1;
    -o-transform-origin: 50% 50%;
    -webkit-animation: toggleRight linear 0.5s forwards;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    animation: toggleRight linear 0.5s forwards;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
}

.navbar-toggler {
    -moz-animation: toggleLeft linear 0.5s forwards;
    -moz-animation-iteration-count: 1;
    -moz-transform-origin: 50% 50%;
    -ms-animation: toggleLeft linear 0.5s forwards;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%;
    -o-animation: toggleLeft linear 0.5s forwards;
    -o-animation-iteration-count: 1;
    -o-transform-origin: 50% 50%;
    -webkit-animation: toggleLeft linear 0.5s forwards;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    align-self: center;
    animation: toggleLeft linear 0.5s forwards;
    animation-iteration-count: 1;
    border-radius: 5px;
    cursor: pointer;
    transform-origin: 50% 50%;
    z-index: 450;
}

@keyframes toggleRight {
    0% {
        transform: rotateY(180deg);
        margin-left: -50px;
    }

    100% {
        transform: rotateY(0deg);
        margin-left: 0px;
    }
}

@-moz-keyframes toggleRight {
    0% {
        -moz-transform: rotateY(180deg);
        margin-left: -50px;
    }

    100% {
        -moz-transform: rotateY(0deg);
        margin-left: 0px;
    }
}

@-webkit-keyframes toggleRight {
    0% {
        -webkit-transform: rotateY(180deg);
        margin-left: -50px;
    }

    100% {
        -webkit-transform: rotateY(0deg);
        margin-left: 0px;
    }
}

@-o-keyframes toggleRight {
    0% {
        -o-transform: rotateY(180deg);
        margin-left: -50px;
    }

    100% {
        -o-transform: rotateY(0deg);
        margin-left: 0px;
    }
}

@-ms-keyframes toggleRight {
    0% {
        -ms-transform: rotateY(180deg);
        margin-left: -50px;
    }

    100% {
        -ms-transform: rotateY(0deg);
        margin-left: 0px;
    }
}

@keyframes toggleLeft {
    0% {
        transform: rotateY(0deg);
        margin-left: 0px;
    }

    100% {
        transform: rotateY(180deg);
        margin-left: -50px;
    }
}

@-moz-keyframes toggleLeft {
    0% {
        -moz-transform: rotateY(0deg);
        margin-left: 0px;
    }

    100% {
        -moz-transform: rotateY(180deg);
        margin-left: -50px;
    }
}

@-webkit-keyframes toggleLeft {
    0% {
        -webkit-transform: rotateY(0deg);
        margin-left: 0px;
    }

    100% {
        -webkit-transform: rotateY(180deg);
        margin-left: -50px;
    }
}

@-o-keyframes toggleLeft {
    0% {
        -o-transform: rotateY(0deg);
        margin-left: 0px;
    }

    100% {
        -o-transform: rotateY(180deg);
        margin-left: -50px;
    }
}

@-ms-keyframes toggleLeft {
    0% {
        -ms-transform: rotateY(0deg);
        margin-left: 0px;
    }

    100% {
        -ms-transform: rotateY(180deg);
        margin-left: -50px;
    }
}


#hcMapToggler svg {
    padding: 3px;
    width: 50px;
}

#hcMapTogglerContainer {
    flex-direction: column;
    flex-grow: 1;
    padding-top: 1em;
    text-align: center;
}

/* Carousel */

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

.centeredLink {
    color: aliceblue;
    float: none;
    font-size: 50px;
    left: 40%;
    position: absolute;
    top: 50px;
}

.centeredLink:hover {
    color: forestgreen;
    text-decoration: none;
}

/* Make .svg files in the carousel display properly in older browsers */

.carousel-inner .item img[src$=".svg"] { width: 100%; }

/* QR code generator */

#qrCode { margin: 15px; }

/* Hide/rearrange for smaller screens */

@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption { display: none; }
}

select {
    display: block;
    width: 100%;
}

#_LayoutExtensionMenu {
    -webkit-box-shadow: 10px 0 5px -2px #888;
    box-shadow: 10px 0 5px -2px #888;
    flex: 1;
    flex-direction: column;
}

#_LayoutExtensionMenu.toggled {
    flex: 0;
    max-width: 20px;
}

form .nav-tabs, form #nav-tab .nav-link, form #nav-tab .nav-item { border: none; }

form #nav-tab .nav-item {
    -moz-box-shadow: 0px -4px 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px -4px 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    background-color: #eee;
    border-bottom: 1px solid rgba(0, 0, 0, 0.01);
    box-shadow: 0px -4px 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.01);
    z-index: 100;
}

form #nav-tab .nav-item.active {
    -moz-box-shadow: 0px -7px 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px -7px 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-bottom: none;
    box-shadow: 0px -7px 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.01);
    margin-bottom: -2px;
    z-index: 150;
}

form #nav-tab, form .tab-content { background-color: rgba(0, 0, 0, 0.005); }

form .tab-content {
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.01);
    z-index: 125;
}

form .tab-content:before, form .tab-content:after {
    -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    -moz-transform: skew(-5deg) rotate(-5deg);
    -ms-transform: skew(-5deg) rotate(-5deg);
    -o-transform: skew(-5deg) rotate(-5deg);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    -webkit-transform: skew(-5deg) rotate(-5deg);
    background: transparent;
    bottom: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    content: ' ';
    height: 10px;
    left: 12px;
    position: absolute;
    transform: skew(-5deg) rotate(-5deg);
    width: 40%;
    z-index: -1;
}

/*HiveCare*/

.fa-user { color: white; }

#BannerCarousel {
    margin-top: 50px;
    max-height: 600px;
    overflow: hidden;
}